<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Links  start-->
    <section class="footer-container">
      <div class="container text-md-start mt-5">
        <!-- Grid row start-->
        <div class="row mt-3">
          <!-- Grid column start-->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Contacto</h5>
            <p><i class="fas fa-home me-2"></i> Sede Central Hotel Tacuarí <br>Calle Tacuarí 566 CP.1071 C.A.B.A</p>
            <p><i class="fas fa-envelope me-2"></i>hotel.tacuari@cirsubgn.org</p>
            <p><i class="fas fa-phone me-2"></i> 011 4334 0223  int 224</p>
          </div>
          <!-- Grid column end-->
          <!-- Grid column start-->
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Información</h5>
            <p>
              <a href="/about" class="text-reset">¿Quiénes somos?</a>
            </p>
            <p>
              <a href="/about/#institucional" class="text-reset">Institucional</a>
            </p>
            <p>
              <a href="/about/#autoridades" class="text-reset">Autoridades</a>
            </p>
          </div>
          <!-- Grid column end-->

          <!-- Grid column start-->
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Acceso Rápido</h5>
            <p>
              <a href="/farmacias" class="text-reset">Farmacias</a>
            </p>
            <p>
              <a href="/reservas" class="text-reset">Alojamiento</a>
            </p>
            <p>
              <a href="/wellness" class="text-reset">Bienestar</a>
            </p>
          </div>
          <!-- Grid column end-->

          <!-- Grid column start-->
          <div
            class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social-media-icons"
          >
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Seguinos en</h5>
            <a href="https://www.facebook.com/Mutual-Circulo-de-Suboficiales-de-Gendarmer%C3%ADa-Nacional-103538817800030" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/mutualcirsub" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/mutualcirsub/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <!-- Grid column end-->
        </div>
        <!-- Grid row end-->
      </div>
    </section>
    <!-- Section: Links end -->
    <!-- Copyright -->
    <div class="text-center p-4 copyright-footer">
      <small
      >Mutual del Circulo de Sub Oficiales de Gendarmeria Nacional &copy;
      2021.</small
    >
    </div>
  
    <!-- Copyright -->
  </footer>