
  <section class="top-nav">
    <div class="sede">
      <h4 style="color: white;padding-left: 4px;font-size: medium;margin-top: 5px;">
        Sede Central: Calle Tacuarí 566_CP.1071CABA 
        </h4>
      </div>
    <div class="redes" style="padding-right: 4px;" >
          <a href="https://www.facebook.com/share/19CQJ8KpMz/" class="me-4 text-reset">
            <i class="fab fa-facebook-f" style="color: white; font-size:x-large; margin-top: 5px;" ></i>
          </a>
          <a href="https://www.instagram.com/mcirsubgn/" class="me-4 text-reset">
            <i class="fab fa-instagram" style="color: white;font-size: x-large;"></i>
          </a>
          <a href="tel:+5491143423068" >
          <i class="fas fa-phone me-2" style="color: white;font-size: x-large;"></i>
        </a>
      </h4>
    </div>
  </section>

<!-- </div> -->
<header>
<section class="header-container2">
<section class="header-container52">
  <div class="nav-btn">
    <div class="logo-container">
      <a href="/"><img class="img-fluid" src="/images/logo.png" alt="logo-img" /></a>
    </div>
  <div>
    <h3>
     <strong>MUTUAL CIRCULO DE SUBOFICIALES</strong> <br>
    </h3>
     <h4 style="text-align: center;" >GENDARMERIA NACIONAL</h4>
    
  </div>

  <div class="menu-bar">
    <span class="fas fa-bars"></span>
  </div>

    <div class="header-nav-links">
      <ul>
        <li class="header-nav-link">
          <a href="/wellness" class="header-dropdown-content" style="color: black;">Servicios</a>
          <div class="dropdown hidden">
            <ul>
             <!--  <li class="dropdown-link">
                <a href="/reservas" class="header-dropdown-content" style="color: black;" >Alojamiento</a>
              </li> -->
             <!--  <li class="dropdown-link">
                <a href="/wellness" class="header-dropdown-content" style="color: black;" >Bienestar Social</a>
              </li>
              <li class="dropdown-link">
                <a href="/evacuacion" class="header-dropdown-content" style="color: black;" >Evacuación</a>
              </li>
              <li class="dropdown-link">
                <a href="/tour" class="header-dropdown-content" style="color: black;" >Turismo</a>
              </li> -->
             <!--  <li class="dropdown-link">
                <a href="/farmacias" class="header-dropdown-content" style="color: black;" >Farmacias< <i class="fas fa-caret-down"></i> --></a>
              <!--   <div class="dropdown header-dropdown-secondary hidden">
                  <ul>
                    <li class="dropdown-link">
                      <a href="/farmacias/#locales">Locales</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="https://www.farmacity.com/Farmacity/sucursales">Farmacity</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="/farmacias/#cobertura">Cobertura</a>
                    </li>
                  </ul>
                </div> -->
              <!-- </li> --> 
            <!--   <li class="dropdown-link">
                <a href="/sorteos" class="header-dropdown-content" style="color: black;" >Sorteos</a>
              </li> -->
            </ul>
          </div>
        </li>
        <li class="header-nav-link">
          <a href="/tramites/" class="header-dropdown-content" style="color: black;">Tramites</a>
        </li>
        <li class="header-nav-link">
          <a href="/filial/" class="header-dropdown-content" style="color: black;">Filiales</a>
        </li>
        <li class="header-nav-link">
          <a href="/about" class="header-dropdown-content" style="color: black;">Quiénes somos</a>
        </li>
        <li class="header-nav-link">
          <a href="/contactos" class="header-dropdown-content" style="color: black;">Contactos</a>
        </li>
        <li class="header-nav-link">
          <a href="/recibos" class="header-dropdown-content" style="color: black;" >Recibos</a>
        <!--   <div class="dropdown hidden">
            <ul>
              <li class="dropdown-link">
                <a href="https://micaja.crjppf.gov.ar/#/ingresar" style="color: black;" >Retirados</a>
              </li>
              <li class="dropdown-link">
                <a href="https://serpegen.gna.gob.ar/Account/Forgot" style="color: black;" >Actividad</a>
              </li>
            </ul>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
  
 <script>
  document.querySelector('.menu-bar').addEventListener('click', function() {
    document.querySelector('.header-nav-links ul').classList.toggle('show');
  });
</script>
</section>

</header>