<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>

  <!-- MAIN -->

  <main class="about">
    <div class="elementor-row">
      <section class="aux-widget-modern-heading" id="institucional">
        <div class="aux-widget-inner p-4">
          <h2>Constitución y Finalidades</h2>
          <h4 class="aux-modern-heading-secondary" style="color: #006400;font-size:5rem; text-align: center;">Mutual del Círculo de
            Suboficiales de Gendarmería Nacional</h4>
          <p> Queda constituida una Entidad de carácter Social, Cultural y Deportiva, que agrupa a los Suboficiales y
            Gendarmes con situación de Revista en Actividad y Retiro, Pensionados del personal de Suboficiales y
            Gendarmes, Personal Civil de la Institución, Empleados de la Mutual Círculo de Suboficiales de Gendarmería
            Nacional Argentina y sus familiares directos. </p>
          <p> FINALIDADES: <br> Agrupar a quienes reúnan las condiciones que por el presente Estatuto y sus
            Reglamentación se determine, en una Asociación tendiente a acrecentar el nivel social, cultural, material,
            profesional y deportivo de sus asociados, consolidando la camaradería y estimulando el espíritu de cuerpo.
            <br> Promover asistencia farmacéutica. <br> Crear servicios de proveeduría, seguros generales, turismo,
            sepelios, panteones. <br> Otorgar subsidios por nacimiento, adopción o reconocimiento, casamiento,
            fallecimiento. <br> Prestar asistencia jurídica y Ayudas económicas Mutual. <br> Otorgar asistencia
            financiera, concediendo préstamos, anticipos y otras ayudas económicas, incluso las no reintegrables cuando
            resulten debidamente justificadas.</p>
        </div>
        <div class="d-flex justify-content-center">
          <img width="400" height="400" src="/images/logo2.jpg" style="border-radius:50% ;" > 
        </div>
      </section>
    </div>
    <section class="col-12 mx-auto mt-5" id="autoridades" style="padding: 1rem;">
      <div class="container col-md-4 justify-content-center">
        <h2 style="color:#006400">PRESIDENTE</h2>
        <article class="card  mt-3 mb-5 mx-5" style="border-radius: 10px; justify-content: center; " >
          <div class="card__image">
            <img src="/images/autoridades/ramon-leguizamon.png" alt="">
          </div>
          <div class="card__content">
            <h3 style="color: #32A455">Ramón Leguizamón</h3>
            <p>Suboficial Mayor (R)</p>
            <h4>Presidente</h4>
          </div>
        </article>
        <h2 style="color:#006400">VICE-PRESIDENTE</h2>
        <article class="card mt-3 mb-5 mx-5" style="border-radius: 10px;">
          <div class="card__image">
            <img src="/images/autoridades/jose-b-santander-vice.png" alt="">
          </div>
          <div class="card__content">
            <h3 style="color: #32A455">José B. Santander</h3>
            <p>Sargento Ayudante (R)</p>
            <h4>Vice Presidente</h4>
          </div>
        </article>
      </div>
      <div class="container col-12 justify-content-center align-items-center">
        <div class="container2">
          <div class="container">
            <h2 style="color:#006400">SECRETARIO</h2>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/carlos-rigonatto.jpeg" width="170rem" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Carlos A. Rigonatto</h3>
                <p>Suboficial Mayor (R)</p>
                <h4>Secretario</h4>
              </div>
            </article>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/marcos-correa.png" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Marcos E. Correa</h3>
                <p>Sargento Ayudante</p>
                <h4>Pro Secretario</h4>
              </div>
            </article>
          </div>
          <div class="container">
            <h2 style="color:#006400">TESORERO</h2>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/german-Jimenez.jpeg"  width="170rem" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">German E. Jiménez</h3>
                <p>Sargento</p>
                <h4>Tesorero</h4>
              </div>
            </article>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/vilma-umbrello.png"  alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Vilma Umbrello</h3>
                <p>Sargento</p>
                <h4>Pro Tesorero</h4>
              </div>
            </article>
          </div>
        </div>

      </div>
      <div class="container col-12 justify-content-center align-items-center">
        <div class="container2">
          <div class="container">
            <h2 style="color:#006400">VOCALES</h2>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/jorge-morinigo.png" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Jorge Morinigo</h3>
                <p>Suboficial Mayor</p>
                <h4>1° Vocal</h4>
              </div>
            </article>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/luis-gomez.png" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Luis Gomez</h3>
                <p>Suboficial Principal</p>
                <h4>2° Vocal</h4>
              </div>
            </article>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/patricio-pereira.jpeg" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Patricio Pereira</h3>
                <p>Suboficial Principal</p>
                <h4>3° Vocal</h4>
              </div>
            </article>
          </div>
          <div class="container">
            <h2 class="junta" style="color:#006400;">JUNTA<br> FISCALIZADORA</h2>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/jorge-ponce.png" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">Jorge Ponce</h3>
                <p>Cabo Primero</p>
                <h4>Presidente</h4>
              </div>
            </article>
            <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
              <div class="card__image">
                <img src="/images/autoridades/jorge-gonzalez.png" alt="">
              </div>
              <div class="card__content">
                <h3 style="color: #32A455">José Gonzalez</h3>
                <p>Suboficial Mayor (R)</p>
                <h4>Secretario</h4>
              </div>
            </article>
           
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript">
      (function () {
          var options = {
              whatsapp: "+54 9 11 76429930", // WhatsApp number
              call_to_action: "Necesitas ayuda?", // Call to action
              position: "right", // Position may be 'right' or 'left'
          };
          var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
          s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
          var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
    </script>
  </main>

<!-- Footer -->
<%- include('partials/footer.ejs')%>
<!-- Footer -->

<!-- SCRIPTS -->
<%- include('partials/scripts.ejs')%>
  
</body>
</html>
