<%- include('partials/head.ejs')%>

  <body>
    <!--    HEADER -->

    <%- include('partials/header.ejs')%>

      <!-- MAIN -->

      <main class="sorteos">
        <div class="container col-md-10 row text-center" style="margin:30px auto">

          <section class="container">
            <div class="elementor-text-editor elementor-clearfix p-5">
              <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center " id="actualizacion">
                <strong>Altas Familiares</strong>
              </h1>
            </div>
            <div class="row">
              <h3 class="mt-5">La <strong>Mutual</strong> también les proporciona la posibilidad de poder afiliar o
                actualizar los datos de los Familiares a cargo.</h3>
              <h3 class="mt-3" style="color: darkgreen;font-size:4rem;text-align:center"><strong>¿Cómo
                  funciona?</strong></h3><br><br>
              <h3>Es muy simple. Solo llene el formulario que está a continuación, haga click en el botón <strong>ENVIAR
                  FORMULARIO</strong>, y listo automáticamente estos datos se veran reflejados en nuestra base de datos.
              </h3>
            </div>

            <div class="card-form card p-4 mb-5"
              style="background-color:#cac278c0; box-shadow: 7px 13px 37px var(--color-negro);">
              <!-- formulario -->
              <div class="row">
                <form class="row g-3" id="form">
                  <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">Código Estadistico</label>
                    <input name="codigo" type="text" class="form-control" id="validationDefault01"
                      placeholder="N° de código">
                  </div>
                  <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">Situación</label>
                    <select class="form-select" aria-label="Disabled select example" name="situacion">
                      <option selected>Selecione su Situación</option>
                      <option value="1">En Actividad</option>
                      <option value="2">Retirado</option>
                      <option value="3">Empleado</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Fecha de Alta: </label>
                    <div id="cid_7" class="form-input-wide jf-">
                      <div data-wrapper-react="true" class="extended notLiteMode">
                        <input name="alta" type="date" class="form-control fechainput"
                        style="width: 344px; border-color:dimgrey; height: 25px;">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Apellido</label>
                    <input name="apellido" type="text" class="form-control" id="validationCustom01" placeholder="xxxxxxx">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">Nombres</label>
                    <input name="nombre" type="text" class="form-control" id="validationCustom02" placeholder="xxxxx">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido2" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres2" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni2" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento3" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento4" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento5" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento6" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center ">
                    <input type="submit" id="button" value="Envir Formulario" class="btn btn-success" style="font-size:1.4rem;">
                  </div>
                </form>
               <!--  <form class="row g-3" id="form">
                  <div class="field">
                    <label for="codigo">codigo</label>
                    <input type="text" name="codigo" id="codigo">
                  </div>
                  <div class="field">
                    <label for="situacion">situacion</label>
                    <input type="text" name="situacion" id="situacion">
                  </div>
                  <div class="field">
                    <label for="alta">alta</label>
                    <input type="text" name="alta" id="alta">
                  </div>
                  <div class="field">
                    <label for="apellido">apellido</label>
                    <input type="text" name="apellido" id="apellido">
                  </div>
                  <div class="field">
                    <label for="name">name</label>
                    <input type="text" name="name" id="name">
                  </div>
                  <div class="field">
                    <label for="socio">socio</label>
                    <input type="text" name="socio" id="socio">
                  </div>
                  <div class="field">
                    <label for="parentesco">parentesco</label>
                    <input type="text" name="parentesco" id="parentesco">
                  </div>
                  <div class="field">
                    <label for="apellido2">apellido2</label>
                    <input type="text" name="apellido2" id="apellido2">
                  </div>
                  <div class="field">
                    <label for="nombres2">nombres2</label>
                    <input type="text" name="nombres2" id="nombres2">
                  </div>
                  <div class="field">
                    <label for="dni2">dni2</label>
                    <input type="text" name="dni2" id="dni2">
                  </div>
                  <div class="field">
                    <label for="nacimiento">nacimiento</label>
                    <input type="text" name="nacimiento" id="nacimiento">
                  </div>
                  <div class="field">
                    <label for="socio3">socio3</label>
                    <input type="text" name="socio3" id="socio3">
                  </div>
                  <div class="field">
                    <label for="parentesco3">parentesco3</label>
                    <input type="text" name="parentesco3" id="parentesco3">
                  </div>
                  <div class="field">
                    <label for="apellido3">apellido3</label>
                    <input type="text" name="apellido3" id="apellido3">
                  </div>
                  <div class="field">
                    <label for="nombres3">nombres3</label>
                    <input type="text" name="nombres3" id="nombres3">
                  </div>
                  <div class="field">
                    <label for="dni4">dni4</label>
                    <input type="text" name="dni4" id="dni4">
                  </div>
                  <div class="field">
                    <label for="nacimiento3">nacimiento3</label>
                    <input type="text" name="nacimiento3" id="nacimiento3">
                  </div>
                  <div class="field">
                    <label for="socio4">socio4</label>
                    <input type="text" name="socio4" id="socio4">
                  </div>
                  <div class="field">
                    <label for="parentesco4">parentesco4</label>
                    <input type="text" name="parentesco4" id="parentesco4">
                  </div>
                  <div class="field">
                    <label for="apellido4">apellido4</label>
                    <input type="text" name="apellido4" id="apellido4">
                  </div>
                  <div class="field">
                    <label for="nombres4">nombres4</label>
                    <input type="text" name="nombres4" id="nombres4">
                  </div>
                  <div class="field">
                    <label for="nacimiento4">nacimiento4</label>
                    <input type="text" name="nacimiento4" id="nacimiento4">
                  </div>
                  <div class="field">
                    <label for="socio5">socio5</label>
                    <input type="text" name="socio5" id="socio5">
                  </div>
                  <div class="field">
                    <label for="parentesco5">parentesco5</label>
                    <input type="text" name="parentesco5" id="parentesco5">
                  </div>
                  <div class="field">
                    <label for="apellido5">apellido5</label>
                    <input type="text" name="apellido5" id="apellido5">
                  </div>
                  <div class="field">
                    <label for="nombres5">nombres5</label>
                    <input type="text" name="nombres5" id="nombres5">
                  </div>
                  <div class="field">
                    <label for="dni5">dni5</label>
                    <input type="text" name="dni5" id="dni5">
                  </div>
                  <div class="field">
                    <label for="nacimiento5">nacimiento5</label>
                    <input type="text" name="nacimiento5" id="nacimiento5">
                  </div>
                  <div class="field">
                    <label for="socio6">socio6</label>
                    <input type="text" name="socio6" id="socio6">
                  </div>
                  <div class="field">
                    <label for="parentesco6">parentesco6</label>
                    <input type="text" name="parentesco6" id="parentesco6">
                  </div>
                  <div class="field">
                    <label for="apellido6">apellido6</label>
                    <input type="text" name="apellido6" id="apellido6">
                  </div>
                  <div class="field">
                    <label for="nombres6">nombres6</label>
                    <input type="text" name="nombres6" id="nombres6">
                  </div>
                  <div class="field">
                    <label for="dni6">dni6</label>
                    <input type="text" name="dni6" id="dni6">
                  </div>
                  <div class="field">
                    <label for="nacimiento6">nacimiento6</label>
                    <input type="text" name="nacimiento6" id="nacimiento6">
                  </div>

                  <input type="submit" id="button" value="Send Email">
                </form> -->
                <script type="text/javascript"
                  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

                <script type="text/javascript">
                  emailjs.init('EC8SsvlUQoezMBnyf')
                </script>
                <!--   <form class="row g-3" method="POST" action="/tramites/tramites2">
                  <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">Código Estadistico</label>
                    <input name="codigo" type="text" class="form-control" id="validationDefault01"
                      placeholder="N° de código">
                  </div>
                  <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">Situación</label>
                    <select class="form-select" aria-label="Disabled select example" name="situacion">
                      <option selected>Selecione su Situación</option>
                      <option value="1">En Actividad</option>
                      <option value="2">Retirado</option>
                      <option value="3">Empleado</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Fecha de Alta: </label>
                    <div id="cid_7" class="form-input-wide jf-">
                      <div data-wrapper-react="true" class="extended notLiteMode">
                        <input name="alta" type="date" class="form-control fechainput"
                          style="width: 200px; border-color:dimgrey; height: 30px;">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Apellido</label>
                    <input name="apellido" type="text" class="form-control" id="validationCustom01" placeholder="xxxxxxx">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">Nombres</label>
                    <input name="nombre" type="text" class="form-control" id="validationCustom02" placeholder="xxxxx">
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido2" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres2" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni2" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni3" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento3" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni4" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento4" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni5" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento5" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="validationDefault01" class="form-label">N° Socio</label>
                      <input name="socio6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Parentesco</label>
                      <input name="parentesco6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Apellido</label>
                      <input name="apellido6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">Nombres</label>
                      <input name="nombres6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationDefault01" class="form-label">DNI</label>
                      <input name="dni6" type="text" class="form-control" id="validationDefault01" placeholder="">
                    </div>
                    <div class="col">
                      <label for="validationCustom02" class="form-label">Fecha de Nacimiento: </label>
                      <div id="cid_7" class="form-input-wide jf-">
                        <div data-wrapper-react="true" class="extended notLiteMode">
                          <input name="nacimiento6" type="date" class="form-control fechainput"
                            style="width: 200px; border-color:dimgrey; height: 30px;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center ">
                    <button class="btn btn-success" style="font-size:1.4rem;" type="submit">Enviar Formulario</button>
                  </div>
                </form> -->
              </div>
          </section>
        </div>
        <script type="text/javascript">
            (function () {
              var options = {
                whatsapp: "+54 9 11 76429930", // WhatsApp number
                call_to_action: "Necesitas ayuda?", // Call to action
                position: "right", // Position may be 'right' or 'left'
              };
              var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
              s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
              var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        </script>
      </main>
      <!-- Footer -->
      <%- include('partials/footer.ejs')%>
        <!-- Footer -->

        <!-- SCRIPTS -->
        <%- include('partials/scripts.ejs')%>

  </body>

  <script>
    const btn = document.getElementById('button');

    document.getElementById('form')
      .addEventListener('submit', function (event) {
        event.preventDefault();

        btn.value = 'Enviando...';

        const serviceID = 'default_service';
        const templateID = 'template_7mpt22z';

        emailjs.sendForm(serviceID, templateID, this)
          .then(() => {
            btn.value = 'Enviar Formulario';
            alert('Enviado!');
          }, (err) => {
            btn.value = 'Enviar Formulario';
            alert(JSON.stringify(err));
          });
      });
  </script>

  </html>