<%- include('partials/head.ejs')%>

  <body>
    <!--    HEADER -->

    <%- include('partials/header.ejs')%>

      <!-- MAIN -->

      <main class="about">
        <div class="elementor-row">
          <!-- para las autoridades nuevas -->
          <section class="col-12 mx-auto mt-5" id="autoridades" style="padding: 1rem;">
            <div class="container col-md-4 justify-content-center">
              <h2 style="color:#006400">PRESIDENTE</h2>
              <article class="card  mt-3 mb-5 mx-5" style="border-radius: 10px; justify-content: center; ">
                <div class="card__image">
                  <img src="/images/autoridades/daniel-cañete.jpeg" alt="">
                </div>
                <div class="card__content">
                  <h3 style="color: #32A455">Pedro Daniel Cañete</h3>
                  <p>Suboficial Mayor (R)</p>
                  <h4>Presidente</h4>
                </div>
              </article>
              <h2 style="color:#006400">VICE-PRESIDENTE</h2>
              <article class="card mt-3 mb-5 mx-5" style="border-radius: 10px;">
                <div class="card__image">
                  <img src="/images/autoridades/teodoro-coronel.jpeg" alt="">
                </div>
                <div class="card__content">
                  <h3 style="color: #32A455">Teodoro Ramón Coronel</h3>
                  <p>Sargento Ayudante (R)</p>
                  <h4>Vice Presidente</h4>
                </div>
              </article>
            </div>
            <div class="container col-12 justify-content-center align-items-center">
              <div class="container2">
                <div class="container">
                  <h2 style="color:#006400">SECRETARIO</h2>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/pedro-sosa.jpeg" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Pedro Carlos Sosa</h3>
                      <p>Suboficial Mayor (R)</p>
                      <h4>Secretario</h4>
                    </div>
                  </article>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/antonio-brizuela.jpeg" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Antonio M. Brizuela</h3>
                      <p>Sargento Ayudante</p>
                      <h4>Pro Secretario</h4>
                    </div>
                  </article>
                </div>
                <div class="container">
                  <h2 style="color:#006400">TESORERO</h2>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/antonio-moral.jpeg" height="175px" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Antonio Moral</h3>
                      <p>Sargento</p>
                      <h4>Tesorero</h4>
                    </div>
                  </article>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/carlos-gonzalez.jpeg" height="175px" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Carlos Gonzalez</h3>
                      <p>Sargento</p>
                      <h4>Pro Tesorero</h4>
                    </div>
                  </article>
                </div>
              </div>

            </div>
            <div class="container col-12 justify-content-center align-items-center">
              <div class="container2">
                <div class="container">
                  <h2 style="color:#006400">VOCALES</h2>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/ramon-sena.jpeg" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Ramón Oscar Sena</h3>
                      <p>Suboficial Mayor</p>
                      <h4>1° Vocal</h4>
                    </div>
                  </article>

                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/gumersindo-vazquez.jpeg" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Gumersindo Vazquez</h3>
                      <p>Suboficial Principal</p>
                      <h4>2° Vocal</h4>
                    </div>
                  </article>

                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/hipolito-noguera.jpeg" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Hipólito A. Noguera</h3>
                      <p>Suboficial Mayor</p>
                      <h4>3° Vocal</h4>
                    </div>
                  </article>

                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/jose-aguilera.jpeg" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">José Aguilera</h3>
                      <p>Suboficial Principal</p>
                      <h4>2° Vocal</h4>
                    </div>
                  </article>
                </div>
                <div class="container">
                  <h2 class="junta" style="color:#006400;">JUNTA FISCALIZADORA</h2>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/amador-polo.jpeg" height="172px" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Reynerio Amador Polo</h3>
                      <p>Cabo Primero</p>
                      <h4>Presidente</h4>
                    </div>
                  </article>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/julian-colman.jpeg" height="168px" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Julian Hugo Colman</h3>
                      <p>Suboficial Mayor (R)</p>
                      <h4>Secretario</h4>
                    </div>
                  </article>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/carlos-leiva.jpeg" height="172px">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Carlos Leiva</h3>
                      <p>Cabo Primero</p>
                      <h4>Vocal 1°</h4>
                    </div>
                  </article>
                  <article class="card col-md-8 mt-3 mb-5" style="border-radius: 10px;margin: 0 auto">
                    <div class="card__image">
                      <img src="/images/autoridades/oscar-mokoski.jpeg" height="186px" alt="">
                    </div>
                    <div class="card__content">
                      <h3 style="color: #32A455">Oscar Mokoski</h3>
                      <p>Suboficial Mayor (R)</p>
                      <h4>Vocal 2°</h4>
                    </div>
                  </article>

                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- WhatsApp  -->
        <!--   <script type="text/javascript">
      (function () {
          var options = {
              whatsapp: "+54 9 11 76429930", // WhatsApp number
              call_to_action: "Necesitas ayuda?", // Call to action
              position: "right", // Position may be 'right' or 'left'
          };
          var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
          s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
          var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
    </script> -->
      </main>

      <!-- Footer -->
      <%- include('partials/footer.ejs')%>
        <!-- Footer -->

        <!-- SCRIPTS -->
        <%- include('partials/scripts.ejs')%>

  </body>

  </html>