<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>

    <!-- MAIN -->

    <main class="sorteos">
        <div class="container col-md-10 row text-center" style="margin:30px auto">
            <h1><strong> ENTRE RÍOS</strong></h1>
           
            <div class="row">
                <div class="card-body row"><h2>Galería de fotos de  CONCEPCIÓN DEL URUGUAY</h2>
                    <h3>Conozca en detalle nuestro Hotel: sus habitaciones, instalaciones, servicios y entorno.<br>

                        Descubra todo lo que le ofrecemos a través de nuestra galería de imágenes.</h3>
                  <div class="" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/concepcion/numero1.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                   <div class="card-body" style="text-align: left;width: 100%;">
                    <!--  <h3 class="card-title">Sede Central Tacuarí</h3> -->
                     <p class="card-text"></h4>
                       
                    </p>
                   </div>
                  </div>
                 
                  <div class="" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/concepcion/numero2.jpeg" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <!-- <h3 class="card-title">Filial San Miguel</h3> -->
                     <p class="card-text"><h4></h4>
                      
                    </p>
                   </div>
                  </div>
    
                  
                  <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/concepcion/numero3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body"style="text-align: left;width: 100%;">
                      <!-- <h3 class="card-title">Hotel Mar del Plata</h3> -->
                      <p class="card-text"><h4></h4>
                        
                    </p>
                    </div>
                   </div>
                 </div>
                  <div class="" style="width: 25rem;margin: 3rem; ">
                     <img src="/images/concepcion/numero4.jpeg" class="card-img-top" alt="...">
                    <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                       <p class="card-text"><h4></h4>
                        
                    </p>
                     </div>
                    <div class="" style="width: 25rem;margin: 3rem; ">
                     <img src="/images/concepcion/numero5.jpeg" class="card-img-top" alt="...">
                     <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                       <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                       <p class="card-text"><h4></h4>
                         
                    </p>
                     </div>
                    </div>
                  </div>

                  <div class="card-body"style="text-align: left;width: 100%;">
                    <p><span>
                        Estabas pensado tomarte unas vacaciones en un lugar turístico, entonces este es el lugar perfecto.<br>


VACACIONES<br>
Todo lo que se puede hacer en Concepción del Uruguay este verano
Durante todo el año, puedes recorrer Concepción del Uruguay y disfrutar de sus atracciones. ¡Toma nota!

Concepción del Uruguay se destaca por los diferentes atractivos turísticos que ofrece.

Argentina también tiene provincias que son asombrosas y merecen la pena ser visitadas. Una de ellas es Entre Ríos y su famosa ciudad Concepción del Uruguay, la cual se destaca por los diferentes atractivos turísticos que ofrece. 

En esta ciudad encontrarás diferentes formas de pasarla bien, relajarte y también compartir un bello recuerdo con tus seres más queridos. Antes de armar la valija y sacar los pasajes, presta atención a todo lo que puedes hacer en Concepción del Uruguay.


<br>¿Qué puedes hacer en Concepción del Uruguay?<br>
Mayormente, el verano y el sol siempre están unidos a las playas. Si eres un fanático del agua y te gusta recostarte sobre tu manta en la arena, entonces Concepción del Uruguay te va a fascinar desde principio a fin. 

Algunas de sus playas más conocidas son Banco Pelay, donde encontrarás una arena totalmente blanca y fina. Además, este espacio está rodeado de vegetación, lo cual te invitará a relajarte y descansar tu mente. El agua es calma para nadar con tranquilidad pero también puedes hacer actividades muy entretenidas: canotaje, windsurf, kayaks y mucho más. 


Otra playa que debes visitar es Isla Cambacuá. Está completamente alejada del casco urbano, por lo cual tendrás que acceder a ella a través de embarcaciones o servicios de catamarán. Es el lugar perfecto para descansar y tomar sol. 

También puedes visitar el Balneario Paso Vera o la playa La Toma. En ambas dos podrás disfrutar de un inolvidable momento con tu familia o con la persona que te haya acompañado a este viaje. Sin lugar a dudas, no querrás irte de allí. 

 Concepción del Uruguay no es solo playas bellas y relajantes. Esta ciudad de Entre Ríos también cuenta con el Palacio San José. Puedes visitar este atractivo durante el día, recorrer sus más de 30 habitaciones y conocer la historia del general Justo José de Urquiza.

Otros lugares que puedes recorrer durante el día con tu familia es la plaza General Francisco Ramírez o la Basílica de la Inmaculada Concepción.
Por ello te compartimos nuestras comodidades en la filial CirSub GN de esta ciudad. Esperamos a todos quienes deseen alojarse en nuestro hotel.  </span></p>
                </div>
                   
               </div>
        <script type="text/javascript">
          (function () {
              var options = {
                  whatsapp: "+54 9 11 76429930", // WhatsApp number
                  call_to_action: "Necesitas ayuda?", // Call to action
                  position: "right", // Position may be 'right' or 'left'
              };
              var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
              s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
              var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
        </script>
    </main>
<!-- Footer -->
<%- include('partials/footer.ejs')%>
<!-- Footer -->

<!-- SCRIPTS -->
<%- include('partials/scripts.ejs')%>
  
</body>
</html>

