<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
 
   <!-- MAIN -->
  <main>
      <!--Botón ir hacia arriba-->

      <section class="container">
       <!--  <h1 class="mt-5" style="color: darkgreen;font-size:4rem;text-align:center"><strong>CONOCÉ NUESTRAS FILIALES</strong></h1>
        <h2 style="color: darkgreen;font-size:4rem;text-align:center "><strong>PODES ENCONTRANOS EN ESTOS PUNTOS </strong></h2>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kg1SaINzdrcxIZzlJZVRm7lm1nnHxfQA" width="100%" height="480"></iframe> -->
      
        <div class="contenedorinfo mt-3">
          <h1 style="color: darkgreen;font-size:3rem;text-align:center ">REGIÓN PAMPEANA</h1>
          <div class="row">
            <section >
            <div class="card-body row"><h3>BUENOS AIRES</h3>
              <div class="card mx-auto" style="width: 25rem; margin: 3rem; ">
               <img src="/images/filiales/tacuarí.jpg" style="height: 12rem;"  class="card-img-top" alt="...">
               <div class="card-body" style="text-align: left;width: 100%;">
                 <h3 class="card-title">Sede Central <br>Hotel Tacuarí</h3>
                 <p class="card-text"><h4>dirección:<a href="https://goo.gl/maps/beSCgRcCtzxQFz2G6" class="address">Tacuarí 566/68-C.A.B.A.</a></h4>
                   <h4>Tel: <a href="tel:011-4334-0223/0232" class="Tel">(011) 4334-0223/0232</a><br>
                    <a href="tel:011-4342-3068/69" class="Tel">(011) 4342-3068/3069</a> </h4>
                   <h4>Reservas: <a href="mailto:recepcion@cirsubgn.org.ar">recepcion@cirsubgn.org</a></h4>
                  <h4>Whatsapp: <a href="tel:11-3270-8855" class="Tel">11-3270-8855</a></h4>
                  <h4>Administración Hotel Tacuarí</h4>
                  <h4>email: <a href="hotel.tacuari@cirsubgn.org" class="email">hotel.tacuari@cirsubgn.org</a> </h4>
                  </p>
               </div>
              </div>
              
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
               <img src="/images/filiales/san-miguel.jpeg" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial San Miguel</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/3iUXJyxHbyXp42hK6" class="address">Olegario Victor Andrade 640</a></h4>
                   <h4>email: <a href="mailto:filial.sanmiguel@cirsubgn.org">filial.sanmiguel@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:011-4666-0753" class="Tel">011-4666-0753</a> </h4></p>
               </div>
              </div>

              
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
                <img src="/images/filiales/mar-del-plata.jpeg" class="card-img-top" alt="...">
                <div class="card-body"style="text-align: left;width: 100%;">
                  <h3 class="card-title">Hotel Mar del Plata</h3>
                  <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/jFRJE362Em1w1FnT8" class="address">Av. Libertad 3046</a></h4>
                    <h4>email: <a href="mailto:turismo@cirsubgn.org">turismo@cirsubgn.org</a></h4>
                    <h4>Tel: <a href="NO disponible" class="Tel">011-4334-0223</a> </h4></p>
                </div>
               </div>
             </div>
            </section>
              <div class="card-body row col"><h3>CÓRDOBA</h3>
               <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
                 <img src="/images/filiales/jesus-maria.jpeg" class="card-img-top" alt="...">
                 <div class="card-body"style="text-align: left;width: 100%;">
                   <h3 class="card-title">Filial Jesús María</h3>
                   <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/FhLuXGrzTPPjueJo9" class="address">Sarmiento 188</a></h4>
                     <h4>email:<a href="mailto:filial.jesusmaria@cirsubgn.org">filial.jesusmaria@cirsubgn.org</a></h4>
                     <h4>Tel: <a href="tel:03525-420287" class="Tel">03525-420287</a> </h4></p>
                 </div>
                </div>
                <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
                 <img src="/images/filiales/cordoba.jpeg" class="card-img-top" alt="...">
                 <div class="card-body"style="text-align: left;width: 100%;">
                   <h3 class="card-title">Filial Córdoba</h3>
                   <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/16PtrsEctwbyHVjb7" class="address">Santa Rosa 496</a></h4>
                     <h4>email: <a href="mailto:filial.cordoba@cirsubgn.org">filial.cordoba@cirsubgn.org</a></h4>
                     <h4>Tel: <a href="tel:0351-4215189" class="Tel">0351-4215189</a> </h4></p>
                     <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/cordobaF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                 </div>
                </div>
              </div>
               <!--  <div class="card-body row col-md-4"><h2>ENTRE RÍOS</h2>
                 <div class="card mx-auto" style="width: 20rem;">
                   <img src="/images/filiales/entre-rios.jpeg" class="card-img-top" alt="...">
                   <div class="card-body">
                     <h3 class="card-title">Filial Concepción del Uruguay</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/EZcCeE9dAqk9ekf18" class="address">Gral. Galarza 471</a></h4>
                       <h4>email: <a href="filialconcepcion@cirsubgn.org" class="email">filialconcepcion@cirsubgn.org</a> </h4>
                       <h4>Tel: <a href="tel:03442-426749" class="Tel">03442-426749</a> </h4></p>
                   </div>
                  </div>
                </div>  -->
           </div>
          </div>
         

        <div class="contenedorinfo mt-5">
          <h1 style="color: darkgreen;font-size:3rem;text-align:center ">REGIÓN NORESTE</h1>
          <div class="row">
            <div class="card-body row col-md-4"><h3>CHACO</h3>
              <div class="card mx-auto" style="width: 25rem;height: 88%;">
                <img src="/images/filiales/chaco.jpeg"  class="card-img-top" alt="...">
                <div class="card-body"style="text-align: left;width: 100%;">
                  <h3 class="card-title">Filial Resistencia</h3>
                  <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/L3oirRCe5FaEuzf99" class="address">Giachino 1771</a></h4>
                    <h4>email:<a href="mailto:filial.resistencia@cirsubgn.org">filial.resistencia@cirsubgn.org</a></h4>
                    <h4>Tel: <a href="tel:3624-203840" class="Tel">3624-203840</a> </h4></p>
                </div>
               </div>
             </div>
             <div class="card-body row col-md-4"><h3>CORRIENTES</h3>
              <div class="card mx-auto" style="width: 25rem;">
               <img src="/images/filiales/corrientes.jpeg"style="height: 17rem;" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial Corrientes</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/9GQUBLzHGtmGEGr46" class="address">Necochea 1145</a></h4>
                   <h4>email:<a href="mailto:filial.corrientes@cirsubgn.org">filial.corrientes@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:0379-4423385" class="Tel">0379-4423385</a> </h4></p>
               </div>
              </div>
             </div>
                <div class="card-body row col-md-4"><h3>ENTRE RÍOS</h3>
                 <div class="card mx-auto" style="width: 25rem;">
                   <img src="/images/filiales/entre-rios.jpeg" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <h3 class="card-title">Filial Concepción del Uruguay</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/EZcCeE9dAqk9ekf18" class="address">Gral. Galarza 471</a></h4>
                       <h4>email:<a href="mailto:filial.concepcion@cirsubgn.org">filial.concepcion@cirsubgn.org</a></h4>
                       <h4>Tel: <a href="tel:03442-426749" class="Tel">03442-426749</a> </h4></p>
                       <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/concepcionUru/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                   </div>
                  </div>
                </div> 
                <div class="card-body row col"><h3>MISIONES</h3>
                 <div class="card mx-auto" style="width: 25rem;margin: 3rem;">
                   <img src="/images/filiales/eldorado.jpeg" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <h3 class="card-title">Filial Eldorado</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/XDAa9gnUb4388UyY8" class="address">Av.San Martín 306</a></h4>
                       <h4>email:<a href="mailto:filialel.dorado@cirsubgn.org">filial.eldorado@cirsubgn.org</a></h4>
                       <h4>Tel: <a href="tel:03751-421803" class="Tel">03751-421803</a> </h4></p>
                       <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/doradoF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                   </div>
                  </div>
                  <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/filiales/obera.jpeg"style="height: 18rem;" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <h3 class="card-title">Filial Oberá</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/9mdup5jnr4DMBT7WA" class="address">Av. Libertad 178</a></h4>
                       <h4>email:<a href="mailto:filial.obera@cirsubgn.org">filial.obera@cirsubgn.org</a></h4>
                       <h4>Tel: <a href="tel:03755-401291" class="Tel">03755-401291</a> </h4></p>
                   </div>
                  </div>
                  <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/filiales/posadas.jpeg" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <h3 class="card-title">Filial Posadas</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/3Wik8Ht6GFfostTn7" class="address">San Marcos 3946</a></h4>
                       <h4>email: <a href="mailto:filial.posadas@cirsubgn.org">filial.posadas@cirsubgn.org</a></h4>
                       <h4>Tel: <a href="tel:0376-4422268" class="Tel">0376-4422268</a> </h4></p>
                       <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/posadasF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                   </div>
                  </div>
                </div> 
                <div class="card-body row col"><h3>FORMOSA</h3>
                 <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/filiales/formosa.jpeg" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <h3 class="card-title">Filial Formosa</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/6QsokowRWnnMPf4K8" class="address">25 de Mayo 1158</a></h4>
                       <h4>email:<a href="mailto:filial.formosa@cirsubgn.org">filial.formosa@cirsubgn.org</a></h4>
                       <h4>Tel: <a href="tel:0370-4420810" class="Tel">0370-4420810</a> </h4></p>
                       <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/formosaF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                   </div>
                  </div>
                </div> 
          </div>
          
        </div>
        <div class="contenedorinfo mt-5">
          <h1 style="color: darkgreen;font-size:3rem;text-align:center ">REGIÓN NOROESTE</h1>
          <div class="row">
            <div class="card-body row col-md-4"><h3>SALTA</h3>
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
               <img src="/images/filiales/oran.jpeg" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial Orán</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/L1WDsaG2UKdh6JQM6" class="address">Gral. Lavalle 60</a></h4>
                   <h4>email: <a href="mailto:filial.oran@cirsubgn.org">filial.oran@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:03878-422902" class="Tel">03878-422902</a> </h4></p>
               </div>
              </div>
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
               <img src="/images/filiales/salta.jpeg" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial Salta</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/Wm19LnLHSzXNvR1m7" class="address">Buenos Aires 530</a></h4>
                   <h4>email: <a href="mailto:filial.salta@cirsubgn.org">filial.salta@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:0387-5568651" class="Tel">0387-5568651</a> </h4></p>
                   <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/saltaF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
               </div>
              </div>
              </div>
          </div>
        </div>

        <div class="contenedorinfo mt-5">
          <h1 style="color: darkgreen;font-size:3rem;text-align:center ">REGIÓN PATAGÓNICA</h1>
          <div class="row">
            <div class="card-body row col-md-4"><h3>SANTA CRUZ</h3>
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
               <img src="/images/filiales/riogallegos.jpeg" style="height: 21rem;" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial Río Gallegos</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/FVQ1jRWGeFk4RrVW7" class="address">Lavalle 989 Rio</a></h4>
                   <h4>email:  <a href="mailto:filial.riogallegos@cirsubgn.org">filial.riogallegos@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:02966-422677" class="Tel">02966-422677</a> </h4></p>
                   <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/riogallegosF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
               </div>
              </div>
             </div>
              <div class="card-body row col-md-4"><h3>CHUBUT</h3>
               <div class="card mx-auto" style="width: 24rem;margin: 3rem; ">
                 <img src="/images/filiales/comodoro-rivadavia.jpeg" class="card-img-top" alt="...">
                 <div class="card-body"style="text-align: left;width: 100%;">
                   <h3 class="card-title">Hotel Mutual Comodoro Rivadavia</h3>
                   <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/WsQM7b92zsEmPsPr8" class="address">Av. Rivadavia 1028</a></h4>
                     <h4>email:<a href="mailto:filial.comodoro@cirsubgn.org">filial.comodoro@cirsubgn.org</a></h4>
                     <h4>Tel: <a href="tel:0297-4473569" class="Tel">0297-4473569</a> </h4></p>
                     <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/comodoros/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                 </div>
                </div>
              </div>
              <div class="card-body row col"><h3>NEUQUÉN</h3>
                 <div class="card mx-auto" style="width: 25rem;">
                   <img src="/images/filiales/neuquen.jpeg" style="height: 12rem;" class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <h3 class="card-title">Filial Neuquén</h3>
                     <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/EMzvnPMge67aakTc6" class="address">Independencia 470</a></h4>
                       <h4>email: <a href="mailto:filial.neuquen@cirsubgn.org">filial.neuquen@cirsubgn.org</a></h4>
                       <h4>Tel: <a href="tel:0299-4431164" class="Tel">0299-4431164</a> </h4></p>
                       <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/neuquenF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                   </div>
                  </div>
                </div> 
          </div>
        </div>

        <div class="contenedorinfo mt-5">
          <h1 style="color: darkgreen;font-size:3rem;text-align:center ">REGIÓN DE CUYO</h1>
          <div class="row">
            <div class="card-body row col"><h3>MENDOZA</h3>
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
               <img src="/images/filiales/mendoza.jpeg" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial Mendoza</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/RhnNxbyLrGcc3fgY9" class="address">Patricias Mendocinas 1785</a></h4>
                   <h4>email:<a href="mailto:filial.mendoza@cirsubgn.org">filial.mendoza@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:261-4202623" class="Tel">261-4202623</a> </h4></p>
                   <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/mendozaF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
               </div>
              </div>
             
              <div class="card mx-auto" style="width: 25rem;margin: 3rem; ">
               <img src="/images/filiales/tunuyan.jpeg" class="card-img-top" alt="...">
               <div class="card-body"style="text-align: left;width: 100%;">
                 <h3 class="card-title">Filial Tunuyán</h3>
                 <p class="card-text"><h4>dirección: <a href="https://goo.gl/maps/yhMNXZD4tCJyELcb7" class="address">Leandro N. Alem & 9 de Julio</a></h4>
                   <h4>email: <a href="mailto:filial.tunuyan@cirsubgn.org">filial.tunuyan@cirsubgn.org</a></h4>
                   <h4>Tel: <a href="tel:02622-425120" class="Tel">02622-425120</a> </h4></p>
               </div>
              </div>
             </div>
              <div class="card-body row col-md-4"><h3>SAN JUAN</h3>
               <div class="card mx-auto" style="width: 25rem;">
                 <img src="/images/filiales/sanjuan.jpeg" class="card-img-top" alt="...">
                 <div class="card-body"style="text-align: left;width: 100%;">
                   <h3 class="card-title">Filial San Juan</h3>
                   <p class="card-text"><h4>dirección: <a href="" class="address">Av. Guillermo Rawson Norte 344</a></h4>
                     <h4>email: <a href="mailto:filial.sanjuan@cirsubgn.org">filial.sanjuan@cirsubgn.org</a></h4>
                     <h4>Tel: <a href="tel:0264-4211859" class="Tel">0264-4211859</a> </h4></p>
                     <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/sanjuanF/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
                 </div>
                </div>
              </div>
          </div>
        </div>
        

      </section>  

     <!--  WhatsApp -->
     <!--  <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+54 9 11 76429930", // WhatsApp number
                call_to_action: "Necesitas ayuda?", // Call to action
                position: "right", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
      </script> -->
    </main>
  <!-- Footer -->
  <%- include('partials/footer.ejs')%>
  <!-- Footer -->

  <!-- SCRIPTS -->
  <%- include('partials/scripts.ejs')%>
    
    </body>
  </html>
  
