<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>

    <!-- MAIN -->

    <main class="sorteos">
        <div class="container col-md-10 row text-center" style="margin:30px auto">
            <h1><strong> FORMOSA</strong></h1>
           
            <div class="row">
                <div class="card-body row"><h2>Galería de fotos de  FILIAL FORMOSA</h2>
                    <h3>Conozca en detalle nuestro Hotel: sus habitaciones, instalaciones, servicios y entorno.<br>

                        Descubra todo lo que le ofrecemos a través de nuestra galería de imágenes.</h3>
                  <div class="" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/formosa/numero1.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                   <div class="card-body" style="text-align: left;width: 100%;">
                    <!--  <h3 class="card-title">Sede Central Tacuarí</h3> -->
                     <p class="card-text"></h4>
                       
                    </p>
                   </div>
                  </div>
                 
                  <div class="" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/formosa/numero2.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <!-- <h3 class="card-title">Filial San Miguel</h3> -->
                     <p class="card-text"><h4></h4>
                      
                    </p>
                   </div>
                  </div>
    
                  
                  <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero3.jpeg" style="height: 31rem;" class="card-img-top" alt="...">
                    <div class="card-body"style="text-align: left;width: 100%;">
                      <!-- <h3 class="card-title">Hotel Mar del Plata</h3> -->
                      <p class="card-text"><h4></h4>
                        
                    </p>
                    </div>
                   </div>
                <!--  </div> -->
                
                <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero4.jpeg"style="height: 31rem;"  class="card-img-top" alt="...">
                   <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                     <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                      <p class="card-text"><h4></h4>
                       
                   </p>
                    </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero5.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                    <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                      <p class="card-text"><h4></h4>
                        
                   </p>
                   </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero6.jpeg"style="height: 31rem;"  class="card-img-top" alt="...">
                   <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                     <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                      <p class="card-text"><h4></h4>
                       
                   </p>
                    </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero7.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                    <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                      <p class="card-text"><h4></h4>
                        
                   </p>
                   </div>
                    
                <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero8.jpeg"style="height: 31rem;"  class="card-img-top" alt="...">
                   <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                     <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                      <p class="card-text"><h4></h4>
                       
                   </p>
                    </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero9.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                    <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                      <p class="card-text"><h4></h4>
                        
                   </p>
                   </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero10.jpeg"style="height: 31rem;"  class="card-img-top" alt="...">
                   <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                     <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                      <p class="card-text"><h4></h4>
                       
                   </p>
                    </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero11.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                    <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                      <p class="card-text"><h4></h4>
                        
                   </p>
                   </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/formosa/numero12.jpeg" style="height: 31rem;"  class="card-img-top" alt="...">
                    <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                      <p class="card-text"><h4></h4>
                        
                   </p>
                   </div>
                     </div>
                    </div>
                  </div>

                  <div class="card-body"style="text-align: left;width: 90%; padding-left: 3 rem; ">
                    <p><span>
                       
                    </span></p>
                </div>
                   
               </div>

              <!--  WhatsApp -->
      <!--   <script type="text/javascript">
          (function () {
              var options = {
                  whatsapp: "+54 9 11 76429930", // WhatsApp number
                  call_to_action: "Necesitas ayuda?", // Call to action
                  position: "right", // Position may be 'right' or 'left'
              };
              var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
              s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
              var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
        </script> -->
    </main>
<!-- Footer -->
<%- include('partials/footer.ejs')%>
<!-- Footer -->

<!-- SCRIPTS -->
<%- include('partials/scripts.ejs')%>
  
</body>
</html>