<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
 
   <!-- MAIN -->

    <!-- MAIN -->

    <main class="sorteos">
        <div class="container col-md-10 row text-center" style="margin:30px auto">
            <div class="justify-content-center" style="margin:0 auto">
                <div>
                    <h1> Sus datos </h1>

                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Tipo de documento (obligatorio)">
                        </div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Número de Documento (obligatorio)">
                        </div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Apellido (obligatorio)"></div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Nombre (obligatorio)"></div>
                        <div> <input style="margin-top:10px;width:100%;" type="text"
                                placeholder="E-mail (Ingrese un e-mail válido donde se confirmará el turno) (obligatorio)">
                        </div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Domicilio  (obligatorio)"></div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Teléfono (obligatorio)"></div>
                        <div> <span><input type="checkbox"><label>Represento a otra persona</label></span></div>

                </div>
                <div>
                    <h3>Datos de la persona a quien representa</h3>

                        <div><input style="margin-top:10px;width:100%;" type="text" placeholder="Tipo de documento (obligatorio)">
                        </div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Número de Documento (obligatorio)">
                        </div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Apellido (obligatorio)"></div>
                        <div> <input style="margin-top:10px;width:100%;" type="text" placeholder="Nombre (obligatorio)"></div>

                </div>
                <div>
                    <h1>
                        Datos del turno
                    </h1>
                            <input style="margin-top:10px;width:100%;" type="text" placeholder="Zona (obligatorio)">
                            <input style="margin-top:10px;width:100%;" type="text" placeholder="Sector (obligatorio)">
                            <input style="margin-top:10px;width:100%;" type="text" placeholder="Trámite (obligatorio)">
                            <textarea style="margin-top:10px;width:100%;"
                                placeholder="Ingrese aquí los datos que considere pertinentes al trámite que va a realizar (opcional)"
                                rows="5"></textarea>
                </div>


                <div text-align="center"> <button type="submit"  class="btn btn-success"
                        style="font-size:1.4rem;margin-top:10px; box-shadow: 4px 6px 6px #BDBDBD; color: white; border-radius: 10px; padding: 4px auto;height:30px; width: 300px;">Enviar
                        solicitud</button></div>
                <span style="color:black;font-size:10px;">* Se enviará un mail para confirmar su turno.Por
                    favor revise su casilla de correo.</span>
                <div style="height:250px;"></div>


            </div>
        </div>
        <script type="text/javascript">
          (function () {
              var options = {
                  whatsapp: "+54 9 11 3866-5787", // WhatsApp number
                  call_to_action: "Necesitas ayuda?", // Call to action
                  position: "right", // Position may be 'right' or 'left'
              };
              var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
              s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
              var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
        </script>
    </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs')%>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <%- include('partials/scripts.ejs')%>
      
    </body>
  </html>
  
