<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
  <main>
      <!--Botón ir hacia arriba-->
 


      <div class="Bienvenida">
        <p style="font-size: 30px;line-height: 1.2;letter-spacing: 2px;font-weight: 600; padding: 1rem;"> Bienvenido a la Mutual del Círculo de <br>Suboficiales de<br>Gendarmería Nacional</p>
      </div>


     
      
      <!--CARROUSEL -->
      <section class="carrousel d-sm-flex justify-content-center">
        <div
          id="carouselExampleIndicators"
          class="carousel slide w-75 col-sm-8"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/detailnews/2" > <img
                src="/images/new/esteban.jpg"
                class="d-block w-100"
                alt="..."
                />
                <p>Los 100 de Don Esteban Oscar Lopez<br>
                </p></a>
             
            </div>
            <div class="carousel-item">
              <a href="/detailnews/1" >
                <img
                src="/images/carrousel/renovacion.jpg"
                class="d-block w-100"
                alt="..."
              />
              <p>Renovación con la Prestataria 'Sol Naciente'</p></a>
              
            </div>
            <div class="carousel-item">
              <a href="/detailnews/8" >
                <img
                src="/images/carrousel/noticia3.jpg"
                class="d-block w-100"
                alt="..."
              />
              <p>Reencuentro en Sede Central</p></a>

            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> 
        </div>
        
      </section>
      <div class="noticias">
        <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/news/" style="color: aliceblue;font-size: 3rem;"> Ver todas las noticias</a> </button>
      </div>
     

      <div class="card-body1 row justify-content-around  p-5">
        <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
          <h2>
            IMPORTANTE<br>
            Renovación del Contrato Comercial con la Prestataria "Sol Naciente"
          </h2>
          <embed src="/images/new/Renovacion.pdf#navpanes=0&scrollbar=0&zoom=60" type="application/pdf" width="100%" height="400px" />
         <!-- class="d-block w-100"
         alt="..."/> -->
        </div>
      </div>
    </div>
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+54 9 11 76429930", // WhatsApp number
          call_to_action: "Necesitas ayuda?", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- /GetButton.io widget -->
    


    <div class="card-asociate row justify-content-around mt-5 p-5" >
      
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
        <img src="/images/asociate.jpg" class="card-img-top" alt="...">
        <div class="card-body1">
          <!-- <h5 class="card-title">Card title</h5> -->
          <h2 class="card-text"> Asociate y Disfruta de <br>
            todos los Servicios y Beneficios<br>
            que tenemos para vos....</h2>
          <a href="/tramites/#asociate" class="btn btn-success d-grid gap-2" style="font-size:smaller; width: 75%; margin:auto;" >Asociate</a>
          <a href="/tramites/#actualizacion" class="btn btn-success d-grid gap-2 mt-2 " style="font-size:smaller; width: 75%; margin:auto;" >Actualiza tus datos</a>
        </div>
      </div>
    </div>

    <div class="card-body1 row justify-content-around  p-5">
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">      
       <img src="/images/atenciontele2.png"
       class="d-block w-100"
       alt="..."/>
       <h3>
        Si sos afiliado también podes hacer tus consultas de manera telefónica al
      </h3>
      <h3>
        011 - 4334-0223
      </h3>
      </div>
    </div>

    <div class="card-body1 row justify-content-around  p-5">
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
        <h3 >
          En caso de Fallecimiento 
       <img src="/images/sepelios2.jpg"
       class="d-block w-100"
       alt="..."/>
       <h3>
         estamos con vos...
       </h3>
       <h3>
        completa el formulario
      </h3>
      <a href="/tramites/#sepelio" class="btn btn-success d-grid gap-2 mb-2" style="font-size:smaller; width: 75%; margin:auto;" >Haz clic</a>
      </div>
    </div>
    
    
   <!--  <div class="card-asociate row justify-content-around mt-5 p-5" >
      
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
        <img src="/images/quejas.jpg" class="card-img-top" alt="...">
        <div class="card-body1">
          
          <h2 class="card-text"> Nos interesa su opinión <br>
            si tiene algúna sugerencia o reclamo<br>
            compartanos su inquietud....</h2>
            <form class="row" method="POST" action="/tramites/tramites">
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Código Estadistico</label>
                <input name="codigo" type="text" class="form-control" id="validationDefault01" placeholder="N° de código"
                  >
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">DNI</label>
                <input name="dni" type="text" class="form-control" id="validationDefault01" placeholder=" N° DNI">
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="validationDefault01" placeholder="Nombre"
                  >
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Filial</label>
                <input name="filial" type="text" class="form-control" id="validationDefault01" placeholder="Filial"
                  >
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Motivo del Reclamo</label>
                <input name="motivo" type="text" class="form-control" id="validationDefault01" placeholder="Motivo"
                  >
              </div>
              <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Deje su comentario</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="d-flex justify-content-center ">
              <button class="btn btn-success" style="font-size:1.4rem;" type="submit">Enviar Formulario</button>
              </div>
            </form>
            <p class="text" style="font-size: 1.3rem; text-align: center;color: darkgreen;margin-top: 4px;">
              "*La Mutual Circulo de Sub Oficiales de GN tratará su información y datos personales como confidenciales y mantendrá medidas preventivas dirigidas a protegerla contra pérdida, mal uso, acceso no autorizado, alteración o destrucción, mo la divulgará para otro propósito que no sea el establecido en el presente Aviso de Privacidad. Su información será tratada como confidencial y será administrada durante el tiempo necesario para lograr los fines mencionados en el presente Aviso de Privacidad, el cual podrá actualizarse para reflejar los cambios en nuestras prácticas para recabar información, para la utilización de la información y en materia de seguridad."
            </p>
        </div>
      </div>
    </div> -->
     
    </div>
  
   <!--  
    <div id="button-up">
     <i class="fas fa-chevron-up"></i>
    </div> -->
    </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs')%>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <%- include('partials/scripts.ejs')%>
      
  </body>
</html>
