<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
  <main>
      <!--Botón ir hacia arriba-->
 


      <div class="Bienvenida">
        <p style="font-size: 30px;line-height: 1.2;color:rgb(38, 146, 38);letter-spacing: 2px;font-weight: 600; padding: 1rem;"> Bienvenido a la Mutual Círculo de <br>Suboficiales de<br>Gendarmería Nacional</p>
      </div>


     
      
      <!--CARROUSEL -->
     <!--  <section class="carrousel d-flex justify-content-center">
        <div
          id="carouselExampleIndicators"
          class="carousel slide w-100 col-sm-8"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item">
              <a href="/filial" >
                <img
                src="/images/filiales/tacuarí.jpg"
                class="d-block w-100"
                alt="..."
                />
                <p>Conocé todas las Filiales</p></a>
            </div> 
            <div class="carousel-item">
              <a href="/news/" >
                <img
                src="/images/carrousel/entrevista.jpeg"
                style="width: 80%;margin: auto;"
                alt="..."
                />
                <p>Entrevista al Presidente</p></a> 
              </div>
              <div class="carousel-item  active">
                <a href="/news" >
                 <img
                  src="/images/carrousel/visitafilial.jpeg"
                  style="width: 55%;margin: auto;"
                  alt="..."
                  />
                  <p>Visita Filial Resistencia</p></a>
               
              </div> 
              </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> 
        </div>
        
      </section> -->
      
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 75rem;">
          
          <img src="/images/carrousel/noticia3.jpg">
         
        </div> 


          
      <div class="noticias">
        <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/news/" style="color: aliceblue;font-size: 3rem;"> Ver todas las noticias</a> </button>
      </div>

     <!-- 
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 75rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          <img src="/images/navidadpresidente.jpeg">
        </div> 
      
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          <img src="/images/navidadvice.jpeg">
        </div>  -->


        <div class="card-body1 row justify-content-around  p-3">
          <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
            <h2 style="background-color:rgb(38, 146, 38);color: white;">IMPORTANTE</h2>
            <img src="/images/termaspromo.jpeg">
            <h4>
             Nuevo convenio d la MUTAL CIRCULO DE SUBOFICIALES DE GENADARMERIA NACIONAL, para que los asociados puedan disfrutar de este hermoso lugar.<br>
            </h4>
            <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/tours/#termas" style="color: aliceblue;font-size: 2rem;"> Enterate más</a> </button>
          </div> 


        
        <div class="card-body1 row justify-content-around  p-3">
          <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
            <h2 style="background-color:rgb(38, 146, 38);color: white;">ATENCIÓN</h2>
            <img src="/images/mendoza/imagen1.jpeg">
           <h3>
          Informamos a todos los asociados/as que el HOTEL CATEDRAL FILIAL MENDOZA, cuenta con un nuevo número de telefono para poder hacer consultas y reservas.
          El número de telefono es +54 9 2616 67-6198, ya esta habilitado para resolver todas sus consultas.
           
           </h3>
          </div> 




          <div class="card-body1 row justify-content-around  p-3">
            <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
              <h2 style="background-color:rgb(38, 146, 38);color: white;">IMPORTANTE</h2>
              <img src="/images/utedyc.jpeg">
             <h3>
             Este pasado 7/12 en el micro cine de la sede <strong>Mutual Circulo de Suboficiales de Gendarmeria</strong> sito en Tacuarí 566, personal de primeros auxilios de la UTEDYC, realizó para los empleados y asociados una capacitación de Introducción a RCP (Reanimación cardiopulmonar) y DEA (Desfibrilador externo automatico).<br>
             
             </h3>
            </div> 
      

      <h2 class="mt-5 p-5 ">Siguen las remodelaciones, se inaugura en <strong>Filial Córdoba</strong> dos nuevas habitaciones con todo el confort y modernidad que el socio merece. </h2>

      
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 48rem;background-color:#fced6a0a;">
        <video controls autoplay muted  > 
          <source src="/images/habitacion1.mp4" type="video/mp4">
        </video>
        
        
      </div>

      
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 48rem; background-color:#fced6a0a;">
        <video  controls autoplay muted > 
          <source src="/images/habitacion 2.mp4" type="video/mp4">
        </video>
        
        
      </div>


      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
        <video controls autoplay muted  > 
          <source src="/images/renovacionCordoba.mp4" type="video/mp4">
        </video>
        <h3 class="mt-5">Continuando las mejoras en <strong>Filial Córdoba</strong> .Encarando la temporada 2024 seguimos con las remodelaciones y mejoras para todos nuestros asociados. </h3>
        
      </div>

      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">IMPORTANTE</h2>
          <img src="/images/mardelplata.jpg">
          <h4>
            INAUGURACIÓN TEMPORADA VERANIEGA

            DICIEMBRE 2023 - ENERO Y FEBRERO 2024
      
           HOTEL MAR DEL PLATA<br>
          
            I M P O R T A N T E :
        
           A PARTIR DEL LUNES 27 DE NOVIEMBRE A LAS 9:00 AM se comenzarán a tomar las reservas por orden de requerimiento hasta agotar las plazas disponibles, sin excepción. 
          </h4>
          <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/tours/" style="color: aliceblue;font-size: 2rem;"> Enterate más</a> </button>
        </div> 



      <!-- <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          
          <h3>
          Al administrador de la Filial Salta MCSGN, el SMY(R) MIGUEL MEDINA presente.<br>
          Al conmemorarse 56 años de la fundación de esa entidad reciba usted sinceras felicitaciones y augurios de prosperidad a todo el personal de empleados, extensivo a todo el personal de asociados en actividad, retirados y señoras pensionadas de esa jurisdicción afectuosamente.<br>
          Lic. JOSE BARBARITO SANTANDER<br>
          Vicepresidente de MCSGN 

          </h3>
          
        </div>  -->


  <!--     <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color: red;color: white;font-weight: 700; ">URGENTE</h2>
          <h4>
            "El organo Directivo y Junta de Fiscalización de la Mutual Circulo de Suboficiales de Gendarmería Nacional hacen llegar sentidas condolencias en nombre de todos los hombres y mujeres  que conforman y conformaron el cuadro de subof en actividad, retirados y pensionadas/os de esta Institución. Nuestro sentido pésame a familiares  y camaradas de nuestro glorioso Ejército Argentino que hoy acudieron al llamado de Dios nuestro señor. Resignación ante la fatalidad. Olvidarlos nunca jamás. QEPD QUERIDOS CAMARADAS".
          </h4>
          <img src="/images/luto.jpeg">
          <h4>
            El trágico accidente del camión del Ejército argentino en Neuquén —en el que murieron al menos cuatro soldados y otras 18 resultaron heridas— dejó una escena desesperante y desoladora. La caída fue tan abrupta que dio vuelta el vehículo y lo dejó con sus ruedas para arriba, mientras que los soldados que viajaban en él quedaron atrapados en la parte de abajo.
          </h4>
          <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="https://www.infobae.com/sociedad/policiales/2023/09/21/los-soldados-quedaron-aprisionados-como-fue-el-tragico-accidente-del-camion-del-ejercito-en-neuquen/" style="color: aliceblue;font-size: 2rem;">Click para más información</a> </button>
        </div>  -->

 <!-- 
     
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color: red;color: white;font-weight: 700; ">IMPORTANTE</h2>
          <img src="/images/nota.jpg">
          <h4>
            Comunicado de las autoridades de la institución aclarando una supuesta participación de la misma, en una campaña en busca de captar "Socios Adherentes".
          </h4>
          <a href="/images/NOTA.pdf" class="btn" download="NOTA.PDF"><h4 style="text-align: center;"><strong>Si desea descargar el informe haga click aquí</strong> </h4></a>
        </div> 

        


      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          <img src="/images/discurso.jpeg">
          <h4>
           Con motivo de realizarse el 72° aniversario de la creación de la  MUTUAL CÍRCULO DE SUBOFICIALES DE GENDARMERÍA NACIONAL se realizó un almuerzo en el comedor de la sede central ubicada en Tacuarí 566 de CABA, agasajando a los socios y pensionados presentes.<br>
           Asistieron autoridades institucionales como también de Gendarmería Nacional, Policia Federal, Policia de la Ciudad, Fuerzas Armadas de Seguridad y Policiales y Fuerza Aérea Argentina y así mismo se recibió un video saludando a la Institución y sus miembros de la Sra. candidata a la Presidencia de la Nación Patricia Bullrich.<br>
           Mirá todo lo que pasó haciendo click en el boton que está a continuación.

          </h4>
          <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/festejo/" style="color: aliceblue;font-size: 2rem;"> Ver galeria</a> </button>
        </div>  -->

<!-- 
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          <img src="/images/retirados.jpeg">
          <h4>
           <strong> 24 DE AGOSTO DÍA DEL RETIRADO Y PENSIONADOS DE GENDARMERÍA NACIONAL ARGENTINA</strong><br>
            Día del Personal Retirado y Pensionadas de la Gendarnería Nacional, es importante reflexionar sobre el compromiso, valor y sacrificio que cada uno de los Gendarmes Retirados y sus familias han aportado a lo largo de los años. Su dedicación y lealtad a la Institución han dejado una huella imborrable en la historia de la Gendarmería y en el País.<br>
            Cada 24 de agosto es un día especial y apropiado para honrar tanto, los años de servicio como los valores de lealtad y dedicación que han llevado consico durante toda su vida.<br>
          </h4>
          
        </div>  -->
      
      
     
      <!-- <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          <img src="/images/fiesta/imagen1.jpeg">
          <h4>
           Con el motivo de celebrar el aniversario de la creación de nuestra Gendarmeria Nacional (85 años), y también un año más de la la FILIAL MENDOZA, creada a mediados de 1976, estos realizaron un festejo conmemorativo.<br>
          </h4>
          <button  type="button" class="btn btn-success btn-sm" style=" border: none;" ><a href="/salutaciones/" style="color: aliceblue;font-size: 2rem;"> Ver más</a> </button>
        </div>  -->
        <!-- 
        
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
          <img src="/images/papa1.jpg">
         
        </div> 
     
      <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
          <h2>SALUTACIÓN</h2>
          <img src="/images/Guemes.jpeg">
         
        </div>  -->
      
       <!--  <div class="card-body1 row justify-content-around  p-5">
          <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
              <h2><strong>Visita Filial Resistencia</strong></h2>
              <img src="/images/carrousel/visitafilial.jpeg"> -->
              <!-- <h5>Con gran concurrencia de socios han sido invitados por la Comision Administradora de la Filial Resistencia los miembros del Organo Directivo de la Mutual Circulo se Sub Oficiales de GN encabezados por el Sub Oficial Mayor Jorge Morinigo a brindar una charla informativa sobre los alcances y logtos de la gestión vigente a nivel nacional. En dicha oportunidad se realizo un agasajo en el que primo la cordialidad y el respeto mutuo entre quienes hoy integran esta gran familia. Los Señores del Organo Directivo Jose Gonzalez y Damian Ponce hicieron entrega de premios y menciones a los  presentes posterior a sorteos y se comprometieron a seguir trabajando por el bienestar y el progreso de la Mutual tanto a nivel central donde hoy son visibles las innumerables mejoras como asi también a nivel filiales para beneficio de todos los asociados .</h5> -->
             <!--  <a href="https://www.socialysolidaria.com/circulo-de-gendarmeria-y-su-modo-de-ver-al-mundo/" class="btn btn-success btn-sm"><h4 style="text-align: center;"><strong>Nota completa has click aquí</strong></h4></a> -->
           <!--   <a href="/detailnews/1" class="btn btn-success d-grid gap-2"
             style="font-size:smaller; width: 75%; margin-top:1rem; margin-left: auto;margin-right: auto; margin-bottom: 1rem;"><strong>Entérate
             más</strong></a>
            </div>
          </div>  -->


          <!-- <h2 style="background-color: red;color: white;">SALUTACIÓN</h2>  -->
          <!--  <h2>Reservas Hotel Mar del Plata</h2>
            <h5>A partir del <strong>Lunes 5 de Diciembre a las 9:00 AM</strong> se comenzará a tomar reservas. La solicitud de la reserva deberá enviarse por mail, <strong>único medio habilitado</strong>. Las reservas se tomarán por orden de requerimiento hasta agotar las plazas disponibles,<strong> sin excepción y las mismas solicitadas antes de la fecha y horario ya citado no se tendrán en cuenta</strong>. Gracias por su compresión y cooperación.
            </h5> -->
        <!--     
                  <div class="card-body1 row justify-content-around  p-5">
                    <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
            <h2><strong>Entrevista al Presidente, portal Social y Solidaria</strong></h2>
            <img src="/images/carrousel/entrevista.jpeg">
            <h5><strong>En reciente entrevista realizada al Sub Oficial Mayor Ramón Leguizamón por el medio Social y Solidaria comentó que el Circulo próximamente tendrá elecciones, a las que no se presentará por un tercer mandato. Augura una buena elección el dia 23 de Mayo y pide a todos los socios que colaboren y que vayan a la urna a votar, porque esto es una oportunidad para la entidad, y también se disculpa porque su conducción se vio limitada por el grado de aceptación que tuvo su gestión, y se siente orgulloso al entregar una entidad con todo su patrimonio</strong></h5>
            <a href="https://www.socialysolidaria.com/circulo-de-gendarmeria-y-su-modo-de-ver-al-mundo/" class="btn btn-success btn-sm"><h4 style="text-align: center;"><strong>Nota completa has click aquí</strong></h4></a>
          </div>
        </div>  -->


      <!--   <div class="card-body1 row justify-content-around  p-3">
          <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
            <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>
            <img src="/images/9dejulio2.jpeg">
           
          </div>  -->



          <!-- <div class="card-body1 row justify-content-around  p-3">
            <div class="card col-md-4 mb-4"style="width: 55rem; background-color:#fced6a0a;">
              <h2 style="background-color:rgb(38, 146, 38);color: white;">IMPORTANTE</h2>
              <img src="/images/resistencia.jpeg">
             <h4>
              Siguiendo con las refuncionalidades de las distintas Filiales, se cumple una etapa más de los adelantos planteados de nuestra Filial Resistencia, que incrementará a su término, la oferta de alojamiento de los Srs. Asociados.
             </h4>
            </div>  -->


<!-- 
        
        <div class="card-body1 row justify-content-around  p-3">
          <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
            <h2 style="background-color:rgb(38, 146, 38);color: white;">CONMEMORACIÓN</h2> 
            <img src="/images/caidos.jpg">
            <h4>
             En el día de la fecha <strong>La Mutual Circulo de Suboficiales de Gendarmeria Nacional</strong> quiere estar presente en este recordatorio tan importante en honor a todos aquellos gendarmes que en el cumplimiento de su deber ofrendaron su vida en defensa de los ideales y de los altos valores de la Patria. 
             <br> Gloria y honor a todos ellos!!!.<br>
             En el patio interno del Edificio Centinela, se celebró una Santa Misa en la que se homenajeó a nuestros caídos. A fin de reconocer y recordar a quienes ofrendaron sus vidas en cumplimiento del deber se realizó un minuto de silencio.
            </h4>
            <img src="/images/misa.jpg">
          </div>
        </div> -->


      <!--  
        <div class="card-body1 row justify-content-around  p-3">
          <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
            <h2 style="background-color: red;color: white;">IMPORTANTE</h2> 
            <h2>Aclaración respecto a fiesta en sede Mutual </h2>
            <img src="/images/comuniSanta.jpeg"> -->
            <!-- <h5>Llevamos a conocimiento las tareas realizadas por la gestión encabezada por el SMY
              ® LEGUIZAMON RAMON periodo de <strong> Gestión 2015 - 2019, Gestión 2019 – 2022</strong>,
              donde aspiramos demostrar los que acompañamos en las gestiones, que a pesar de
              las vicisitudes, las metas impuestas fueron concretadas en su gran mayoría, nos
              hallamos en un planeamiento a fin de ir reduciendo las necesidades que acontecen
              día a día, tanto en sede central como en Filiales.<br>
              En el siguiente resumen pretendemos contarles lo desarrollado con el aporte de
              todos los socios.
            </h5> -->
            </div>
            </div>
            <!-- 
          <a href="/images/Gestión.pdf" class="btn" download="Gestión.pdf"><h4 style="text-align: center;"><strong>Si desea descargar el informe haga click aquí</strong> </h4></a>
        </div> -->
        
       <!--  
        <div class="card-body1 row justify-content-around  p-3 mt-5">
          <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
            <h2 style="background-color:rgb(38, 146, 38);color: white;">SALUTACIÓN</h2>  -->
             <!-- <h5>El Órgano Directivo y la Junta de Fiscalización de la <strong>Mutual Circulo de Suboficiales de Gendarmeria Nacional</strong>,se complacen en hacerles llegar el más afectuoso saludo con motivo de conmemorarse hoy 30 de Agosto el <strong>71° Aniversario</strong> de nuestra Mutual.<br>Queremos hacerle llegar cordiales y respetuosas felicitaciones a todos los Suboficiales en Actividad, Retirados y Pensionadas/os y sus respectivas familias de la Entidad únicos y legítimos hacedores del crecimientode la Mutual.<br>Sin otro particular, encontramos propicia la oportunidad para saludarlos con mayor consideración y respeto.</h5> -->
            <!--   <img src="/images/Tnavidad2-22.jpeg"/> -->
              <!--  <button type="button" class="btn btn-success btn-sm" style="border: none;"><a href="/news/"  style="color: aliceblue;font-size: 3rem;"> Haz click</a> </button> -->
         <!--  </div>
        </div>  --> 
          <div class="card-body1 row justify-content-around  p-5">
            <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
              <h2 style="background-color: red;color: white;font-weight: 700; ">IMPORTANTE</h2>
               <h2><strong>Recepción de Hotel</strong></h2>
               <h2><strong>Nuevo canal de consultas</strong></h2>
               <h5><strong>Queremos informarles a nuestros afiliados que ya se encuentra en funcionamiento un nuevo canal de consultas para aquellos que necesiten comunicarse con la <strong>Recepción del Hotel</strong> sito en Tacuarí, este medio solo recibe consultas de <strong>WhatsApp</strong> para agilizar cualquier inquietud.</strong></h5>
               <a href="https://wa.me/541132708855/?text=Buenas%20quisiera%20información%20sobre%20el%20Hotel" target="_blank">
                <img src="/images/logo-wasap.png" width="50" height="50" class="logo-wasap">
              </a>
              </div>
            </div> 

         

      <!--  <div class="card-body1 row justify-content-around  p-5">
        <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
          <h2 style="background-color: red;color: white;">IMPORTANTE</h2><br>
           <h2>Se reactivan las ayudas económicas</h2>
           <h5>Siguiendo la CF 43, 52 y 57/21, nos dirigimos a Uds. para informar que luego gestiones realizadas entre el Órgano Directiva y Entidad Bancaria, a partir del día de la fecha se reactivan las ayudas económicas para los Asociados Titulares en situación de actividad ante Gendarmería Nacional, con la misma metodología aplicada para el personal en situación de retiro o pensión. Para mayor información, los interesados deberán comunicarse al correo electrónico: <strong>ayuda.economica@cirsubgn.org</strong>, o bien, a los teléfonos <strong>11-3242-3843</strong>, <strong>11-2189-7557</strong>, de lunes a viernes de 9 a 16hs.<br>
            Solicitamos ampliar difusión del presente.</h5>
           -->
         <!--  <img src="/images/comunicado.jpeg"/> -->
         <!--  <a href="/images/comunicado.jpeg" class="btn" download="comunicado.jpeg"><h4 style="text-align: center;"><strong>Si desea descargar el memo haga click aquí</strong> </h4></a> -->
        <!--   <embed src="/images/directiva.pdf#navpanes=0&scrollbar=0&zoom=60" type="application/pdf" width="100%" height="400px"/>
        </div> -->
    <!--   </div> -->  
  
     <!--   <div class="card-body1 row justify-content-around  p-3">
        <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
          <h2 style="background-color: red;color: white;">COMUNICADO URGENTE</h2> 
          <h2>IOSFA reanuda prestaciones</h2>
           <h5>Nos dirigimos a ustedes para dar conocimiento sobre el resultado de la gestión que realizó el órgano directivo ante las autoridades de IOSFA, les queremos comunicar que a partir del dia 15 de Julio del corriente dicha obra social procedio a <strong>reanudar la prestación</strong> en farmacia propias a nuestros asociados.</h5>
           <a href="/images/emailiosfa.PDF" class="btn" download="emailiosfa.PDF"><h4 style="text-align: center;"><strong>Si desea descargar el memo haga click aquí</strong> </h4></a> -->
           <!-- <video autoplay controls>
              <source src="/images/himno.mp4" type="video/mp4">
            </video>
            <h3 class="mt-3">Video viral de <strong>Gendarmería Nacional</strong> en las redes en honor al Himno Nacional. </h3>
          </div>
 -->

           <!--  <img src="/images/9julio.jpeg">  --> 
            <!-- <h3>SALUTACIÓN</h3> -->
                  <!-- <h4 style="text-align: center;"><strong>Como toda fecha grande de la patria, los argentinos entendemos
                    que, celebrarlas supone reafirmar nuestras tradiciones, ratificando
                    una vez más nuestra verdadera identidad y nuestros valores, que
                    supieron reflejar próceres como el San Martín, Brown, Güemes y
                    Belgrano, entre tantos otros.
                    Manuel Belgrano no solo es recordado por la creación de nuestro
                    mayor símbolo patrio, la Bandera Nacional, de profunda
                    trascendencia cultural que nos une a todos los argentinos, sino
                    también por las virtudes que supieron acompañarlo durante sus 50
                    años de vida.
                    Como argentinos y como soldados herederos de esa tradición, es
                    nuestra obligación recordarlo y resaltar dichas virtudes, para que
                    nos ayuden a ser mejores en cada una de las tareas que nos toque
                    cumplir, como así también para transmitir ese legado a las futuras
                    generaciones.
                    </strong> </h4>  -->
                <!--  <img src="/images/carrousel/1mayo.jpeg"/> -->
                <!--  <embed src="/images/obra-social.PDF#navpanes=0&scrollbar=0&zoom=60" type="application/pdf" width="100%" height="400px"/> -->
      <!--   </div>
      </div>  -->

    </div>
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+54 9 11 76429930", // WhatsApp number
          call_to_action: "Necesitas ayuda?", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- /GetButton.io widget -->


     
    <div class="quejas">
      <a href="/tramites/#alta" class="btn btn-success">Dejanos tu opinión</a>
    </div>

<!-- 
    <div class="card-asociate row justify-content-around mt-5 p-5" >
      
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
        <img src="/images/asociate.jpg" class="card-img-top" alt="...">
        <div class="card-body1">
           
          <h2 class="card-text"> Asociate y Disfruta de <br>
            todos los Servicios y Beneficios<br>
            que tenemos para vos....</h2>
          <a href="/tramites/#asociate" class="btn btn-success d-grid gap-2" style="font-size:smaller; width: 75%; margin:auto;" >Asociate</a>
          <a href="/tramites/#actualizacion" class="btn btn-success d-grid gap-2 mt-2 " style="font-size:smaller; width: 75%; margin:auto;" >Actualiza tus datos</a>
        </div>
      </div>
    </div>

    <div class="card-body1 row justify-content-around  p-5">
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">      
       <img src="/images/atenciontele2.png"
       class="d-block w-100"
       alt="..."/>
       <h3>
        Si sos afiliado también podes hacer tus consultas de manera telefónica al
      </h3>
      <h3>
        011 - 4334-0223
      </h3>
      </div>
    </div> -->

    <section class="padre2">
      <div class="container col-md-12 row text-center" style="margin:0 auto">
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/asociate.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4 class="card-text"><strong>Asociate y Disfruta de <br>
              todos los Servicios y Beneficios<br>
              que tenemos para vos....</strong></h4>
              <a href="/tramites/#asociate" class="btn btn-success d-grid gap-2"
                style="font-size:smaller; width: 75%; margin:auto;"><strong>Asociate</strong></a>
              <a href="/tramites/#actualizacion" class="btn btn-success d-grid gap-2 mt-2 "
                style="font-size:smaller; width: 75%; margin:auto;"><strong>Actualiza</strong></a>
              </div>
            </article>
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/Bienestar-Social.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4><strong>Bienestar Social <br>
              Enterate de todo los beneficios que tenemos para vos</strong></h4>
              <a href="/wellness" class="btn btn-success d-grid gap-2"
              style="font-size:smaller; width: 75%; margin:auto;"><strong>Ver más</strong></a>
            </div>
          </article>
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/noticias5.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4><strong>Noticias<br>Mantenete informado</strong></h4>
            <a href="/news/" class="btn btn-success d-grid gap-2"
            style="font-size:smaller; width: 75%; margin-top:2.5rem; margin-left: auto;margin-right: auto; margin-bottom: 1rem;"><strong>Ver
            más</strong></a>
          </div>
        </article>
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/contactos/turismo.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4><strong>Turismo <br>
              Hacete esa escapada que te mereces</strong></h4>
            <a href="/tours" class="btn btn-success d-grid gap-2"
              style="font-size:smaller; width: 75%; margin:auto;"><strong>Ver más</strong></a>
            </div>
        </article>
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/farma.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4><strong>Farmacias <br>
              Todos los lugares donde podes comprar tus medicamentos</strong></h4>
            <a href="/farmacias" class="btn btn-success d-grid gap-2"
            style="font-size:smaller; width: 75%; margin:auto;"><strong>Ver más</strong></a>
          </div>
        </article>
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/recibo.png" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4><strong>Consulta tus recibos</strong></h4>
            <a href="https://micaja.crjppf.gov.ar/#/ingresar" class="btn btn-success d-grid gap-2"
            style="font-size:smaller; width: 75%; margin:auto;"><strong>Retirados</strong></a>
            <a href="https://serpegen.gna.gob.ar/Account/Forgot" class="btn btn-success d-grid gap-2 mt-2 "
            style="font-size:smaller; width: 75%; margin:auto;"><strong>Actividad</strong></a>
          </div>
        </article>
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/filial2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4 class="card-text"><strong>Filiales<br>Conoce todas nuestras filiales</strong></h4>
            <a href="/filial" class="btn btn-success d-grid gap-2"
            style="font-size:smaller; width: 75%; margin:auto;"><strong>Ver más</strong></a>
          </div>
        </article>
       <!--  <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/sorteo.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4>Sorteos <br>
              Participa y sé el nuevo ganador</h4>
            <a href="/sorteos" class="btn btn-success d-grid gap-2"
              style="font-size:smaller; width: 75%; margin:auto;">Ver más</a>
          </div>
        </article> -->
        <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
          <div class="card__image">
            <img src="/images/evacuacion2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="card__content">
            <h4<strong>Evacuación<br>
            Programa de ayuda al Asociado</strong></h4>
            <a href="/evacuacion" class="btn btn-success d-grid gap-2"
              style="font-size:smaller; width: 75%; margin:auto;"><strong>Ver más</strong></a>
          </div>
        </article>
      </div>
    </section>

    <div class="card-body1 row justify-content-around  p-5">
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
        <h3 >
         <strong>En caso de Fallecimiento </strong>
       <img src="/images/sepelios2.jpg"
       class="d-block w-100"
       alt="..."/>
       <h3>
        <strong>estamos con vos...</strong>
       </h3>
       
      <a href="/tramites/#sepelio" class="btn btn-success d-grid gap-2 mb-2" style="font-size:smaller; width: 75%; margin:auto;" ><strong>Haz clic</strong></a>
      </div>
    </div>
    
  <!--   
     <div class="card-asociate row justify-content-around mt-5 p-5" >
      
      <div class="card col-md-4 mb-4"style="width: 45rem; background-color:#fced6a0a;">
        <img src="/images/quejas.jpg" class="card-img-top" alt="...">
        <div class="card-body1">
          
          <h2 class="card-text"> Nos interesa su opinión <br>
            si tiene algúna sugerencia o reclamo<br>
            compartanos su inquietud....</h2>
            <form class="row" method="POST" action="/tramites/tramites3">
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Código Estadistico</label>
                <input name="codigo" type="text" class="form-control" id="validationDefault01" placeholder="N° de código"
                  >
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">DNI</label>
                <input name="dni" type="text" class="form-control" id="validationDefault01" placeholder=" N° DNI">
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="validationDefault01" placeholder="Nombre"
                  >
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Filial</label>
                <input name="filial" type="text" class="form-control" id="validationDefault01" placeholder="Filial"
                  >
              </div>
              <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Motivo del Reclamo</label>
                <input name="motivo" type="text" class="form-control" id="validationDefault01" placeholder="Motivo"
                  >
              </div>
              <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Deje su comentario</label>
              <textarea class="form-control" name="comentario" type="text" rows="3"></textarea>
              </div>
              <div class="d-flex justify-content-center ">
              <button class="btn btn-success" style="font-size:1.4rem;" type="submit">Enviar Formulario</button>
              </div>
            </form>
            <p class="text" style="font-size: 1.3rem; text-align: center;color: darkgreen;margin-top: 4px;">
              "*La Mutual Circulo de Sub Oficiales de GN tratará su información y datos personales como confidenciales y mantendrá medidas preventivas dirigidas a protegerla contra pérdida, mal uso, acceso no autorizado, alteración o destrucción, mo la divulgará para otro propósito que no sea el establecido en el presente Aviso de Privacidad. Su información será tratada como confidencial y será administrada durante el tiempo necesario para lograr los fines mencionados en el presente Aviso de Privacidad, el cual podrá actualizarse para reflejar los cambios en nuestras prácticas para recabar información, para la utilización de la información y en materia de seguridad."
            </p>
        </div>
      </div>
    </div> -->
     
    

    </div>
  
    </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs')%>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <%- include('partials/scripts.ejs')%>
      
  </body>
</html>
