<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>

    <!-- MAIN -->

    <main class="sorteos">
        <div class="container col-md-10 row text-center" style="margin:30px auto">
            <h1><strong> NEUQUÉN</strong></h1>
           
            <div class="row">
                <div class="card-body row"><h2>Galería de fotos de  FILIAL NEUQUÉN</h2>
                    <h3>Conozca en detalle nuestro Hotel: sus habitaciones, instalaciones, servicios y entorno.

                        Descubra todo lo que te ofrecemos a través de nuestra galería de imágenes.</h3>
                  <div class="" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/neuquen/imagen1.jpeg" style="height: 31rem;object-fit: cover;"  class="card-img-top" alt="...">
                   <div class="card-body" style="text-align: left;width: 100%;">
                    <!--  <h3 class="card-title">Sede Central Tacuarí</h3> -->
                     <p class="card-text"></h4>
                       
                    </p>
                   </div>
                  </div>
                 
                  <div class="" style="width: 25rem;margin: 3rem; ">
                   <img src="/images/neuquen/imagen2.jpeg" style="height: 31rem; object-fit: cover;"  class="card-img-top" alt="...">
                   <div class="card-body"style="text-align: left;width: 100%;">
                     <!-- <h3 class="card-title">Filial San Miguel</h3> -->
                     <p class="card-text"><h4></h4>
                      
                    </p>
                   </div>
                  </div>
    
                  
                  <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/neuquen/imagen3.jpeg" style="height: 31rem; object-fit: cover;" class="card-img-top" alt="...">
                    <div class="card-body"style="text-align: left;width: 100%;">
                      <!-- <h3 class="card-title">Hotel Mar del Plata</h3> -->
                      <p class="card-text"><h4></h4>
                        
                    </p>
                    </div>
                   </div>
                <!--  </div> -->
                
                <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/neuquen/imagen4.jpeg"style="height: 31rem; object-fit: cover;"  class="card-img-top" alt="...">
                   <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                     <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                      <p class="card-text"><h4></h4>
                       
                   </p>
                    </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/neuquen/imagen5.jpeg" style="height: 31rem; object-fit: cover;"  class="card-img-top" alt="...">
                    <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                      <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                      <p class="card-text"><h4></h4>
                        
                   </p>
                   </div>
                   <div class="" style="width: 25rem;margin: 3rem; ">
                    <img src="/images/neuquen/imagen6.jpeg"style="height: 31rem; object-fit: cover;"  class="card-img-top" alt="...">
                   <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                     <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                      <p class="card-text"><h4></h4>
                       
                   </p>
                    </div>

                    <div class="" style="width: 25rem;margin: 3rem; ">
                        <img src="/images/neuquen/imagen7.jpeg" style="height: 31rem; object-fit: cover;"  class="card-img-top" alt="...">
                        <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                          <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                          <p class="card-text"><h4></h4>
                            
                       </p>
                       </div>
                       <div class="" style="width: 25rem;margin: 3rem; ">
                        <img src="/images/neuquen/imagen8.jpeg"style="height: 31rem; object-fit: cover;"  class="card-img-top" alt="...">
                       <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                         <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                          <p class="card-text"><h4></h4>
                           
                       </p>
                        </div>
                   
                    </div>
                  </div>

                  <div class="card-body"style="text-align: left;width: 90%; padding-left: 3 rem; ">
                    <p><span>
                        Este hotel posee las siguientes habitaciones:<br>

                        ●	Singles (En base doble), 
                        ●	Dobles twin (2 camas singles), 
                        ●	Matrimoniales  
                        ●	Triples (3 camas singles).
                        ●	Todas, incluyen desayuno continental.<br>
                        
                        Todas las habitaciones cuentan con:<br>
                        
                        ●	Baño privado equipado con bañera, bidet, inodoro, lavamanos, espejo.
                        ●	TV SMART  32 “
                        ●	Servicio de cable Teledigital
                        ●	Teléfono de uso interno
                        ●	Aire acondicionado por splif.
                        ●	 Frigobar en habitaciones matrimoniales (Socios). 
                        ●	Servicio de emergencia las 24 horas.
                        ●	Servicio de WIFI las 24 hrs.<br>
                        
                        Categoría del Huésped:<br>
                        
                        ●	Socios
                        ●	Invitados por Convenios
                        ●	Invitados particulares
                        Servicio Cafetería y snack bar: <br>
                        
                        El desayuno se encuentra incluido en la tarifa de alojamiento y consta de café con  
                        leche, te o mate cocido con medialunas o tostadas con manteca y mermelada. 
                        Cualquier adicional solicitado como ser jugo, yogur se cobra aparte en el sector cafetería
                        
                        El desayuno hotelero se sirve de 07:15 a 10.00 horas.<br>
                        
                        Servicio de Comedor:<br>
                        
                        Se encuentra abierto de lunes a lunes de 12.30 a 14 horas y de 21 a 22.30 horas.- 
                        En él se encontrara un menú del día y dos o tres platos opcionales, minutas. <br>
                        
                        
                        Servicio de Cochera:<br>
                        
                        En el subsuelo del edificio contamos con estacionamiento, no  reservamos el servicio, el mismo esta sujeto a la disponibilidad que haya al momento del arribo. Las cocheras se encuentran en el piso 0-1 del edificio, cuenta con portón automático, luz celular por movimiento, cámara de vigilancia interna y cámara de seguridad exterior instalada en el portón, desde la cochera se puede subir directamente a la habitación, por ser herméticamente cubierta con tres ingresos seguros incluyendo salida de emergencia no es necesario bajar mas equipaje que el necesario. 
                        
                        En caso de utilizarlo se cobra un costo adicional al  de alojamiento.
                        
                        Horario Hotelero:
                        
                        Comienza a partir de las 10 horas y finaliza a las 10 horas del día siguiente. <br>
                        
                        Reservas:<br>
                        
                        Para realizar reservas de alojamiento puede hacerlo en cualquier momento por mail a 
                        recepcirsubnqn@yahoo.com.ar  por wasap 02995497940 las 24 horas indicando nombre completo, tipo de habitación requerida, fecha y hora de ingreso y egreso, procedencia y un número telefónico. <br>
                        
                        En caso de realizar la reserva:<br>
                        
                        Al momento del ingreso el recepcionista tiene la obligación de cobrarle la totalidad del alojamiento y efectuar la factura correspondiente. 
                        
                        Únicamente emitimos factura “C”. 
                        
                        Asimismo le hará entrega de la llave de la habitación y del control remoto para utilizar el  tv/aire. El control debe ser devuelto al momento de retirarse del Hotel en Recepción, de no hacerlo por rotura o extravio, se cobra un adicional. <br>
                        
                        
                        Forma de pago: <br>
                        
                        Solo aceptamos pagos de contado efectivo o bien mediante depósito bancario, mercado pago, cargo de haberes.
                         
                        No recibimos tarjeta de crédito, debito o cheques.
                    </span></p>
                </div>
                   
               </div>
        <script type="text/javascript">
          (function () {
              var options = {
                  whatsapp: "+54 9 11 76429930", // WhatsApp number
                  call_to_action: "Necesitas ayuda?", // Call to action
                  position: "right", // Position may be 'right' or 'left'
              };
              var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
              s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
              var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
        </script>
    </main>
<!-- Footer -->
<%- include('partials/footer.ejs')%>
<!-- Footer -->

<!-- SCRIPTS -->
<%- include('partials/scripts.ejs')%>
  
</body>
</html>