<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
 
   <!-- MAIN -->
    <main class="container">
      <div class="row">
        <div class="col-7 mx-auto mt-5">
          <h2 id="header_1" class="form-header mb-4" data-component="header" style="color: darkgreen;font-size:4rem;text-align:center ">
              Formulario de Reserva
            </h2>
            <div class="card border rounded my-3 col-md-8 col-lg-10 mx-auto p-5 " style="background-color:#cac278c0; box-shadow: 7px 13px 37px var(--color-negro);">
            <form class="jotform-form" action="" method="post" name="form" id="" accept-charset="utf-8" autocomplete="on" novalidate="true">
              <li class="form-line jf-required" data-type="control_fullname" id="id_3">
                <label class="form-label form-label-left form-label-auto" id="label_3" for="first_3">
                  <strong>Nombre Completo</strong> 
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_3" class="form-input jf-required">
                  <div data-wrapper-react="true">
                    <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                      <input type="text" id="first_3" name="q3_nombreCompleto3[first]" class="form-textbox validate[required]" data-defaultvalue="" size="15" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first" required="">
                      <label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px" aria-hidden="false"> Nombre </label>
                    </span>
                    <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                      <input type="text" id="last_3" name="q3_nombreCompleto3[last]" class="form-textbox validate[required]" data-defaultvalue="" size="15" value="" data-component="last" aria-labelledby="label_3 sublabel_3_last" required="">
                      <label class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px" aria-hidden="false"> Apellido </label>
                    </span>
                  </div>
                </div>
              </li>
              <li class="form-line jf-required" data-type="control_fullname" id="id_3">
                <label class="form-label form-label-left form-label-auto mt-3" id="label_3" for="first_3">
                 <strong>Documento de Identidad</strong> 
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_3" class="form-input jf-required">
                  <div data-wrapper-react="true">
                    <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                      <input type="text" id="first_3" name="q3_nombreCompleto3[first]" class="form-textbox validate[required]" data-defaultvalue="" size="15" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first" required="">                    
                    </span>
                  </div>
                </div>
              </li>
              <li class="form-line jf-required" data-type="control_fullname" id="id_3">
                <label class="form-label form-label-left form-label-auto mt-3" id="label_3" for="first_3">
                 <strong>Codigo Estadistico</strong> 
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_3" class="form-input jf-required">
                  <div data-wrapper-react="true">
                    <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                      <input type="text" id="first_3" name="q3_nombreCompleto3[first]" class="form-textbox validate[required]" data-defaultvalue="" size="15" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first" required="">                   
                    </span>
                  </div>
                </div>
              </li>
              <li class="form-line form-line-column form-col-1 jf-required" data-type="control_email" id="id_4">
                <label class="form-label form-label-top mt-3" id="label_4" for="input_4">
                  <strong>Correo Electrónico</strong> 
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_4" class="form-input-wide jf-required">
                  <div data-wrapper-react="true">
                    <input type="email" id="input_4" name="q4_correoElectronico4" class="form-textbox validate[required, Email]" data-defaultvalue="" size="z-index: 0;" value="" placeholder="ej. minombre@ejemplo.com" data-component="email" aria-labelledby="label_4" required="">
                    <br>
                    <label class="form-sub-label" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" for="input_4_confirm"> Confirmation Email </label>
                    <input type="email" id="input_4_confirm" name="q4_correoElectronico4" class="form-textbox validate[required, Email, Email_Confirm]" data-defaultvalue="" style="margin-top:8px" size="30" value="" placeholder="Confirme Email" data-component="emailConfirmation" onpaste="return false;">
                  </div>
                </div>
              </li>
              <li class="form-line form-line-column form-col-2 jf-required" data-type="control_phone" id="id_5" style="z-index: 0;">
                <label class="form-label form-label-top mt-3" id="label_5 mt-3" for="input_5_area">
                  <strong>Número de teléfono</strong>
                  <span class="form-required">
                    *
                  </span>  
                </label>
                <div id="cid_5" class="form-input-wide jf-required">
                  <div data-wrapper-react="true">
                    <span class="form-sub-label-container" style="vertical-align:top" data-input-type="areaCode">
                      <input type="tel" id="input_5_area" name="q5_numeroDe5[area]" class="form-textbox validate[required]" data-defaultvalue="" value="" data-component="areaCode" aria-labelledby="label_5 sublabel_5_area" required="">
                  </div>
                </div>
              <div class="form-description" style="display: none;">
                <div class="form-description-arrow">
                </div>
                <div class="form-description-arrow-small">
                </div>
                <div class="form-description-content">
                  Asegúrate que el número de teléfono sea correcto ya que necesitamos llamarte para continuar con la reserva.
                </div>
              </div>
            </li>
            (no olvide su caracteristica)
              <li class="form-line form-line-column form-col-1 form-line-column-clear jf-required" data-type="control_datetime" id="id_7">
                <label class="form-label form-label-top mt-3" id="label_7" for="day_7">
                 <strong>Fecha de LLegada</strong> 
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_7" class="form-input-wide jf-required">
                  <div data-wrapper-react="true" class="extended notLiteMode">
                 
                      <input type="date" class="form-control fechainput" style="width: 200px; border-color:dimgrey; height: 30px;" >

                  </div>
                </div>
              </li>
              <li class="form-line form-line-column form-col-2 jf-required" data-type="control_datetime" id="id_28">
                <label class="form-label form-label-top mt-3" id="label_28" for="day_28">
                  <strong> Fecha de Salida </strong>
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_28" class="form-input-wide jf-required">
                  <div data-wrapper-react="true" class="extended notLiteMode">
                    <input type="date" class="form-control fechainput" style="width: 200px; border-color:dimgrey; height: 30px;" >
                  </div>
                </div>
              </li>
                <div id="cid_32" class="form-input-wide jf-required mt-3">
                    <li class="form-label form-label-top mt-3" id="label_7" for="day_7">
                       <strong>Filial</strong> 
                        <span class="form-required">
                          *
                        </span>
                    </div>
                    <div>  
                  <select class="form-dropdown validate[required]" id="input_32" name="q32_nacionalidad" style="width:160px" data-component="dropdown" required="">
                    <option value="">  </option>
                    <option value="Buenos Aires" style="color: crimson;" disabled> Buenos Aires</option>
                    <option value="Tacuarí">Tacuarí</option>
                    <option value="San Miguel">San Miguel</option>
                    <option value="Córdoba" style="color: crimson;" disabled> Córdoba </option>
                    <option value="Jesús María"> Jesús María </option>
                    <option value="Córdoba"> Córdoba </option>
                    <option value="Entre Ríos" style="color: crimson;" disabled> Entre Ríos </option>
                    <option value="Concepción del Uruguay"> Concepción del Uruguay </option>
                    <option value="Chaco" style="color: crimson;" disabled> Chaco </option>
                    <option value="Resistencia"> Resistencia </option>
                    <option value="Corrientes" style="color: crimson;" disabled> Corrientes </option>
                    <option value="Corrientes"> Corrientes </option>
                    <option value="Misiones" style="color: crimson;" disabled> Misiones</option>
                    <option value="El Dorado">El Dorado</option>
                    <option value="Oberá"> Oberá</option>
                    <option value="Posadas"> Posadas</option>
                    <option value="Formosa" style="color: crimson;" disabled> Formosa </option>
                    <option value="Formosa"> Formosa </option>
                    <option value="Salta" style="color: crimson;" disabled> Salta </option>
                    <option value="Orán"> Orán </option>
                    <option value="Salta"> Salta </option>
                    <option value="Santa Cruz" style="color: crimson;" disabled> Santa Cruz </option>
                    <option value="Río Gallegos"> Río Gallegos </option>
                    <option value="Chubut" style="color: crimson;" disabled> Chubut </option>
                    <option value="Comodoro Rivadavia"> Comodoro Rivadavia </option>
                    <option value="Neuquén" style="color: crimson;" disabled> Neuquén</option>
                    <option value="Neuquén"> Neuquén</option>
                    <option value="Mendoza" style="color: crimson;" disabled> Mendoza </option>
                    <option value="Mendoza"> Mendoza </option>
                    <option value="Tunuyán"> Tunuyán </option>
                    <option value="San Juan" style="color: crimson;" disabled> San Juan </option>
                    <option value="San Juan"> San Juan </option>
                  </select>
                </div>
                    </li>
                <div id="cid_27" class="form-input-wide">
                  <div id="text_27" class="form-html mt-3" data-component="text">
                    <strong>Numero de Viajeros:</strong>
                  </div>
                </div>
              </li>
              <li class="form-line form-line-column form-col-2 jf-required" data-type="control_textbox" id="id_24">
                <label class="form-label form-label-top" id="label_24" for="input_24">
                  Adultos
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_24" class="form-input-wide jf-required">
                  <input type="text" id="input_24" name="q24_adultos" data-type="input-textbox" class="form-textbox validate[required, Numeric]" data-defaultvalue="" size="5" value="" placeholder=" " data-component="textbox" aria-labelledby="label_24" required="">
                </div>
              </li>
              <li class="form-line form-line-column form-col-3 jf-required" data-type="control_textbox" id="id_25">
                <label class="form-label form-label-top" id="label_25" for="input_25">
                  Menores de 12 años
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_25" class="form-input-wide jf-required">
                  <input type="text" id="input_25" name="q25_12Anos" data-type="input-textbox" class="form-textbox validate[required, Numeric]" data-defaultvalue="" size="5" value="" placeholder=" " data-component="textbox" aria-labelledby="label_25" required="">
                </div>
              </li>
              <li class="form-line form-line-column form-col-4 jf-required" data-type="control_textbox" id="id_26">
                <label class="form-label form-label-top" id="label_26" for="input_26">
                  Menores de 3 años
                  <span class="form-required">
                    *
                  </span>
                </label>
                <div id="cid_26" class="form-input-wide jf-required">
                  <input type="text" id="input_26" name="q26_3Anos" data-type="input-textbox" class="form-textbox validate[required, Numeric]" data-defaultvalue="" size="5" value="" placeholder=" " data-component="textbox" aria-labelledby="label_26" required="">
                </div>
              </li>
              <li class="form-line" data-type="control_textarea" id="id_13">
                <label class="form-label form-label-top mt-3" id="label_13" for="input_13">
                  <strong>Notas y peticiones especiales: </strong>
                 </label>
                <div id="cid_13" class="form-input-wide" style="text-align: center;">
                  <textarea id="input_13" class="form-textarea" name="q13_notasY" cols="40" rows="10" data-component="textarea" aria-labelledby="label_13"></textarea>
                </div>
              </li>
             <!--  <li class="form-line" data-type="control_button" id="id_31"> -->
                <div id="cid_31" class="form-input-wide">
                  <div style="text-align: center;" data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                    <button id="input_31" type="submit"  class="btn btn-success"style="font-size:1.4rem;" data-component="button" data-content="">
                      Enviar
                    </button>
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Bien hecho!</h4>
                      <p>Su solicitud esta siendo procesada.</p>
                      <hr>
                      <p class="mb-0">Recuerda escribir bien tu mail y telefono para que podamos contactarte para terminar la reserva.</p>
                    </div>
                  </div>
                </div>
        </form>
    </div>
        </div>        
            </ul>
          </div>
          <script type="text/javascript">
            (function () {
                var options = {
                    whatsapp: "+54 9 11 3866-5787", // WhatsApp number
                    call_to_action: "Necesitas ayuda?", // Call to action
                    position: "right", // Position may be 'right' or 'left'
                };
                var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
          </script>
    </main>
 <!-- Footer -->
 <%- include('partials/footer.ejs')%>
 <!-- Footer -->

 <!-- SCRIPTS -->
 <%- include('partials/scripts.ejs')%>
     
    </body>
  </html>
  