<%- include('partials/head.ejs')%>

    <body>
        <!--    HEADER -->

        <%- include('partials/header.ejs')%>

            <!-- MAIN -->


            <main class="sorteos">
                <div class="container col-md-10 row text-center" style="margin:30px auto">
                    <h1><strong></strong></h1>

                    <div class="row">
                        <div class="card-body row">
                            <h2>Galería de fotos </h2>
                            <h3>Festejo día de Gendarmeria Nacional, FILIAL MENDOZA </h3>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen1.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <div class="card-body" style="text-align: left;width: 100%;">
                                    <!--  <h3 class="card-title">Sede Central Tacuarí</h3> -->
                                    <p class="card-text">
                                        </h4>

                                    </p>
                                </div>
                            </div>

                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen2.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <div class="card-body" style="text-align: left;width: 100%;">
                                    <!-- <h3 class="card-title">Filial San Miguel</h3> -->
                                    <p class="card-text">
                                    <h4></h4>

                                    </p>
                                </div>
                            </div>


                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen3.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <div class="card-body" style="text-align: left;width: 100%;">
                                    <!-- <h3 class="card-title">Hotel Mar del Plata</h3> -->
                                    <p class="card-text">
                                    <h4></h4>

                                    </p>
                                </div>
                            </div>
                            <!--  </div> -->

                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen4.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen5.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen6.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen7.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>

                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen8.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen9.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen10.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen11.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen12.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen13.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen14.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen15.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!--  <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!--  <h3 class="card-title">Filial Jesús María</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen16.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                            <div class="" style="width: 25rem;margin: 3rem; ">
                                <img src="/images/fiesta/imagen17.jpeg" style="height: 31rem;" class="card-img-top"
                                    alt="...">
                                <!-- <div class="card-body"style="text-align: left;width: 100%;"> -->
                                <!-- <h3 class="card-title">Filial Córdoba</h3> -->
                                <p class="card-text">
                                <h4></h4>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="text-align: left;width: 90%; padding-left: 3 rem; ">
                    <p style="margin-left: 3rem;"><span>
                            Con el motivo de celebrar el aniversario de la creación de nuestra Gendarmeria Nacional (85
                            años), y también un año más de la FILIAL MENDOZA,(creada a mediados de 1976, cuando un grupo
                            de Suboficiales comenzó el desafío de unir voluntades, juntar firmas logrando que las
                            autoridades de Sede Central compraran una vivienda en calle Perú y solucionando el grave
                            problema de alojamiento de aquellos Gendarmes de la jurisdicción que por distintos motivos
                            bajaban a la Ciudad de Mendoza), la FILIAL MENDOZA realizó una cena show para los socios de
                            Gendarmeria Nacional en actividad, retirados, pensionadas y amigos de la Filial Mendoza de
                            la Mutual Círculo de Suboficiales de Gendarmeria Nacional.
                            Aparte de una gran noche se destacó la colaboración de todos los empleados de la filial, en
                            especial la participación de la Sra Estela Herrera quien pese a tener problemas de salud
                            siempre se a esforzado para que todo salga correctamente.<br>
                            La comisión administradora de la filial Mendoza agradece la participación de: <br>
                            Sr delegado personal retirados y pensionados de Mendoza Suboficial Principal Retirado
                            Eduardo Martin Britos <br>
                            Sr Jefe Amugenal Suboficial Mayor Retirado Mario Garcia.<br>
                            Sr Secretario Asociación Mutual Fronteras Argentinas Suboficial Mayor Retirado Correa<br>
                            Sr Presidente asociación de retirados y pensionadas Suboficial Mayor Retirado Marcelo
                            Balmaceda.<br>
                            Sr Secretario Círculo de Suboficiales del Ejército Suboficial Mayor Retirado Jorge
                            Segura.<br>


                        </span></p>
                </div>

                </div>

                <script type="text/javascript">
                    (function () {
                        var options = {
                            whatsapp: "+54 9 11 76429930", // WhatsApp number
                            call_to_action: "Necesitas ayuda?", // Call to action
                            position: "right", // Position may be 'right' or 'left'
                        };
                        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
                        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                    })();
                </script>
            </main>
            <!-- Footer -->
            <%- include('partials/footer.ejs')%>
                <!-- Footer -->

                <!-- SCRIPTS -->
                <%- include('partials/scripts.ejs')%>

    </body>

    </html>