<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>

  <!-- MAIN -->

  <main class="about">
    <div class="elementor-row">
      <section class="aux-widget-modern-heading" id="institucional">
        <h1 class="mt-5"style="color: darkgreen;font-size:2.5rem;text-align:center "id="hijo">SUBSIDIO POR HIJO</h1>
          <div class="row">
            <img width="250" height="200" style="margin-bottom: 10px;" src="/images/hijo.jpeg">
            <div class="card p-4" style="width: 80%; text-align: center; margin: auto;">																					
            <h3 class="mt-5"><strong>Nacimiento</strong></h3>: En los casos en que al momento del alumbramiento ambos padres fueran socios titulares de la Mutual, el beneficio se liquidará a ambos.</p>
            <p>Reputase como nacimientos, aquellos alumbramientos que hayan sido inscriptos en el Registro Civil o que estuvieren comprendidos en el Artículo 73 del Código Civil de la Nación. Cuando se produzcan alumbramientos múltiples, se otorgará el beneficio por cada uno de ellos. -Art.4-</p>
            <h3><strong>Reconocimiento de hijos:</strong></h3><p>Se reconocieran como tales, aquellos casos que se encuentren inscriptos en el Registro Civil. -Art.5-</p>
            <h3><strong>Adopción:</strong></h3><p>Se reconocerán únicamente como válidas las adopciones simples o plenas que se encuentren otorgadas por sentencia judicial firme. La guarda o tenencia legal a cargo no dará derecho al beneficio. –Art.6-<br>———————————————————————————————————————————————————</p>
            <h3><strong>Percepción de cualquiera de los beneficios:</strong></h3><p>el asociado deberá encontrarse al día con el pago de la cuota social en el momento de acaecido el acontecimiento, no estar cumpliendo el período de carencia al que se refiere el artículo 12 del presente. –Art.7-</p>
            <p>El beneficio establecido en el presente reglamento, debe ser requerido por el socio, mediante la presentación de fotocopia autenticada de la documentación avalatoria extendida por Registro Civil o Juzgado, según corresponda y recibo de haberes. En el caso de adopción se agregará a la sentencia judicial el certificado de nacimiento del menor adoptado. –Art.8-</p>
            <h3><strong>Plazo de presentación:</strong></h3><p> beneficio establecido en el presente reglamento debe ser requerido por el socio antes de trasncurrido un (1) año, a contar desde el momento en que ocurrió el acontecimiento, vencido ese plazo se perderá todo derecho a tal fin, se tomará como válida la fecha de recepción en Mesa de Entrada o del matasellos del correo cuando se envíe por correo electrónico.&nbsp; -Art.10-</p>
            <p>El Círculo podrá aceptar como válidas las presentaciones fuera de término, cuando se demuestre fehacientemente documentado que la demora responde a causales no imputables al socio. -Art.11-</p>
            <h3><strong>Carencia:</strong></h3><p>Para acceder al beneficio, el asociado deberá tener un antigüedad mínima como tal, de tres (3) meses al momento de ocurrido el acontecimiento. Cuando se trate de re afiliación, la carencia se extenderá a seis (6) meses. -Art.12-</p><p>El derecho a la percepción del beneficio prescribirá al año de efectuado el requerimiento por parte del socio, si la falta de su liquidación respondiera a causas no imputables a la Mutual. -Art.13-</p>
            <p>La erogación que demande el beneficio establecido en el presente Reglamento será atendido con los recursos provenientes de la cuita social. –Art. 14-</p>
            <p>Los casos no previstos en el presente Reglamento serán resueltos por el Órgano Directivo y sus decisiones podrán ser apeladas por el socio antes de trascurridos los noventa (90) días de su notificación. -Art.15-</p>
            <p>CONTACTO: bienestar@cirsubgn.org></p>
          </div>
          </div>
        </section>
      </div>
    </div>
   

    <!-- WhatsApp  -->
  <!--   <script type="text/javascript">
      (function () {
          var options = {
              whatsapp: "+54 9 11 76429930", // WhatsApp number
              call_to_action: "Necesitas ayuda?", // Call to action
              position: "right", // Position may be 'right' or 'left'
          };
          var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
          s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
          var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
    </script> -->
  </main>

<!-- Footer -->
<%- include('partials/footer.ejs')%>
<!-- Footer -->

<!-- SCRIPTS -->
<%- include('partials/scripts.ejs')%>
  
</body>
</html>