<%- include('partials/head.ejs')%>

  <body>
    <!--    HEADER -->

    <%- include('partials/header.ejs')%>

      <!-- MAIN -->
      <main>
        <div class="elementor-row">
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center; margin-top: 2REM; "
              id="asesoramiento">
              <strong>PROMOCIÓN EXCLUSIVA PARA SOCIOS</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/promo.jpeg">
            </div>
          </section>
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>MAR DEL PLATA <br>
                2020-2021</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/mardelplata.jpg">
              <p class="mt-5">
                Ante esta peculiar realidad, a instancias del virus conocido como Covid-19, la Mutual Círculo de
                Suboficiales de Gendarmería Nacional tomó acciones concretas para facilitar el acceso al disfrute de las
                vacaciones veraniegas para todos los socios.</span>Estas acciones buscan ofrecer una solución económica
                en el importe de la estadía, al no incrementar el costo de las tarifas y, por otro lado, brindar
                seguridad sanitaria a través de la implementación adecuada de los protocolos gubernamentales.</span>La
                conjunción de estas dos medidas harán que las vacaciones sean seguras, confiables, accesibles y sin
                ningún tipo de riesgo para todos los asociados/as.
              </p>
            </div>
          </section>
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>CÓRDOBA <br>
                INVIERNO</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/cordoba.jpg">
              <p class="mt-5">
                En estas vacaciones de invierno te invitamos a visitar nuestra filial de la ciudad de
                Córdoba.<br><br>Conectate con la naturaleza, vení a la sierra y descubrí dos imponentes valles, como el
                Valle de Calamuchita y el Valle de Traslasierra. Dos lugares majestuosos de nuestra provincia que no
                podés dejar de conocer con tu familia.<br><br>Llamá y hacé tu reserva, te esperamos.<br><br></p>
              <p>Contacto: (0351) 4215189 / 4256205</p>
            </div>
          </section>
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>BENEFICIO RECÍEN CASADOS <br>
                Todo el año</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/reciencasados.jpg">
              <p class="mt-5">
                Incluye 10 noches de alojamiento en la filial seleccionada, con pensión completa (desayuno, almuerzo y
                cena) sin bebidas.<br><br></p>
              <p>Plazo de utilización: 1 año (a partir del enlace matrimonial).<br><br></p>
              <p>Documentación a presentar: acta de Matrimonio y DNI de ambos cónyuges.<br><br></p>
              <p>En caso de que la Filial seleccionada no brinde desayuno, almuerzo y/o cena, se realizarán los
                reintegros correspondientes presentando ticket/factura original y de acuerdo al valor del desayuno y/o
                menú del Hotel Tacuari.<br><br></p>
              <p>El trámite se realiza por e-mail: turismo@cirsubgn.org donde se deberá indicar la filial elegida, la
                fecha de ingreso y adjuntar la documentación con una antelación de 30 días al día de ingreso.<br><br>
              </p>
              <p>En caso de corresponder el reintegro y una vez usufructuado el beneficio se deberán enviar los tickets
                o facturas originales por correo postal : Tacuarí 566/68 Ciudad Autónoma de Buenos Aires (CP1071) Pcia.
                de Buenos Aires.<br><br></p>
              <p><strong>Aclaración</strong>: en caso de encontrarse facturadas las bebidas, las mismas se descontarán.
              </p>
            </div>
          </section>
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>BENEFICIO BODAS DE ORO <br>
                Todo el año</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/bodasdeoro.jpg">
              <p class="mt-5">
                Se otorga a aquellos asociados que cumplen 50 años de casados y que acrediten&nbsp;30 años de asociados
                a la Mutual como mínimo.</p>
              <p>Incluye 10 noches de alojamiento en la Filial seleccionada, con pensión completa (desayuno, almuerzo y
                cena) sin bebidas.<br><br></p>
              <p>Incluye Pasajes desde/hasta su ciudad de residencia. Se reintegran una vez utilizados.<br><br></p>
              <p>Plazo de utilización: 1 año (a partir del cumplimiento de los 50 años de casados).<br><br></p>
              <p>Documentación a presentar: Acta Matrimonio y DNI de ambos cónyuges.<br><br></p>
              <p>En caso de que la Filial seleccionada no brinde desayuno, almuerzo y/o cena, se realizarán los
                reintegros correspondientes presentando ticket/factura original y de acuerdo al valor del desayuno y/o
                menú del Hotel Tacuari.<br><br></p>
              <p>El trámite se realiza por e-mail: turismo@cirsubgn.org donde se deberá indicar la filial elegida, la
                fecha de ingreso y adjuntar la documentación con una antelación de 30 días al día de ingreso.<br><br>
              </p>
              <p>En caso de reintegro y una vez usufructuado el beneficio se deberán enviar los tickets originales por
                correo postal : Tacuarí 566/68 Ciudad Autónoma de Buenos Aires (CP1071) Pcia. de Buenos Aires.<br><br>
              </p>
              <p><strong>Aclaración</strong>: en caso de encontrarse facturadas las bebidas, las mismas se descontarán.
              </p>
            </div>
          </section>

        </div>
        <script type="text/javascript">
          (function () {
            var options = {
              whatsapp: "+54 9 11 76429930", // WhatsApp number
              call_to_action: "Necesitas ayuda?", // Call to action
              position: "right", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
        </script>
      </main>


      <!-- Footer -->
      <%- include('partials/footer.ejs')%>
        <!-- Footer -->

        <!-- SCRIPTS -->
        <%- include('partials/scripts.ejs')%>

  </body>

  </html>