<%- include('partials/head.ejs')%>

  <body>
    <!--    HEADER -->

    <%- include('partials/header.ejs')%>

      <!-- MAIN -->
      <main>
        <!-- <div class="elementor-row">
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center; margin-top: 2REM; "
              id="asesoramiento">
              <strong>PROMOCIÓN EXCLUSIVA PARA SOCIOS</strong>
            </h1>
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
            id="asesoramiento">
            <strong>Filial Posadas</strong>
            <div class="row">
              <img  style="margin-bottom:3rem;" src="/images/carrousel/aperturapileta.jpeg">
            </div> -->
          <!--   <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
            id="asesoramiento">
            <strong>RÍO GALLEGOS</strong>
            <div class="row">
              <img src="/images/riogallegospromo.jpeg" style="width: 60%;margin: auto;" >
            </div> -->
         <!--  </section> -->


          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>INAUGURACIÓN TEMPORADA VERANIEGA<br>
                </strong>
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>MAR DEL PLATA <br>
                DICIEMBRE 2023 - ENERO Y FEBRERO 2024</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/mardelplata.jpg">
              <p class="mt-5">
               <strong>HOTEL MAR DEL PLATA</strong><br>

                Av Libertad 3046 - Ciudad de Mar del Plata<br>
                
                <br>
                <strong> I M P O R T A N T E</strong><br>
                
                
                
                A PARTIR DEL LUNES 27 DE NOVIEMBRE A LAS 9:00 AM se comenzarán a tomar las reservas por orden de requerimiento hasta agotar las plazas disponibles, sin excepción. <br>
                
                
                
                La solicitud de la reserva deberá enviarse al  e-mail: <a href="mailto:turismo@cirsubgn.org">turismo@cirsubgn.org</a> único medio habilitado para tal fin. <br>
                
                
                
               <strong>ATENCIÓN</strong>: las reservas solicitadas antes del 27 de noviembre a las 9:00 am NO se tendrán en cuenta.<br>
                
                
                
                Gracias por su comprensión y cooperación.<br>
                
                <br>
                <strong>TARIFAS SON POR PERSONA Y POR NOCHE CON MEDIA PENSIÓN </strong><br>  
                
                (incluye desayuno y cena, sin bebidas)<br>
                
                 <strong>VIGENCIA</strong><br>  
                
                A partir del 1ro de diciembre de 2023<br> 
                
                <strong>PROMOCIÓN ESPECIAL ASOCIADO</strong><br> 
                
                Pago al contado el total de la estadía<br>
                
                $ 16.000<br>
                
                <strong>ASOCIADO</strong><br> 
                
                $ 21.000<br>
                
                <strong>INVITADO</strong><br> 
                
                Solo pago al contado<br>
                
                $ 32.500<br>
                
                Menor entre 0 y 4 años sin cargo y sin servicio.<br> 
                
                Habitación Single 50% de recargo - El hotel NO posee estacionamiento<br>
                
                <br>
                Para la reserva enviar  al e-mail: turismo@cirsubgn.org<br> 
                
                a partir del 27 de noviembre  a las 9:00 hs am los siguientes datos:<br>
                
                <br>
               <strong>INDICAR TURNO/S</strong> :  en enero/febrero: los ingresos son los días lunes y mínimo son 7 noches, se puede seleccionar más de un turno. En diciembre y marzo puede seleccionar a su gusto el día de ingreso y salida.<br>
                
               <strong>TURNOS EN ENERO</strong><br> 
                
               <strong>TURNOS EN FEBRERO</strong><br> 
                
                DEL 2 AL 9<br>
                
                DEL 30 ENE AL 6 FEB<br>
                
                DEL 9 AL 16<br>
                
                DEL 6 AL 13<br>
                
                DEL 16 AL 23<br>
                
                DEL 13 AL 20<br>
                
                DEL 23 AL 30<br>
                
                DEL 20 AL 27<br>
                
               <strong>DETALLAR LOS DATOS DEL TITULAR Y DE LAS PERSONAS QUE SE ALOJARÁN</strong>: Nombre y apellido, DNI, CE del titular y del grupo familiar y NRO DE CELULAR. En caso de invitados especificar que  son invitados y detallar nombre y apellido, DNI. de cada uno.<br>
                
               <strong>DETALLAR LA CANTIDAD Y TIPO DE HABITACIÓN</strong>: contamos con estas comodidades, elija la de su gusto:<br>
                
                Habitación matrimonial: con una cama matrimonial<br>
                
                Habitación doble: con dos camas simples<br>
                
                Habitación triple matrimonial: con una cama matrimonial y una simple<br>
                
                Habitación triple: con tres camas simples<br>
                
                Habitación cuádruple matrimonial: con una  cama matrimonial y dos camas simples<br>
                
                Habitación cuádruple: con cuatro camas separadas.<br>
                
                <br>
               <strong>SI YA ELIGIÓ EL TURNO, DETALLÓ LOS DATOS DE LAS PERSONAS QUE SE ALOJARÁN Y SELECCIONÓ LA CANTIDAD Y EL TIPO DE HABITACIÓN, POR FAVOR ENVÍE ESOS DATOS AL E-MAIL</strong>: <a href="mailto:turismo@cirsubgn.org">turismo@cirsubgn.org</a> a partir del 5 de diciembre a las 9:00 hs.<br> 
                
                
                <br>
               <strong>ATENCIÓN</strong>: las reservas solicitadas antes del 27 de noviembre a las 9:00 am NO se tendrán en cuenta.<br>
                
                <br>
               <strong>¿CÓMO SEGUIMOS?</strong><br> 
                
                Una vez recibidos estos datos y, en caso de contar con disponibilidad, le enviaremos el  presupuesto y dentro de las 48 hs deberá abonar la seña o el total de la estadía para que quede su lugar reservado.<br>
                
                Importante:<strong>LA RESERVA QUEDA FIRME AL ABONAR, POR LO MENOS, LA SEÑA CORRESPONDIENTE AL VALOR DE DOS NOCHES  POR PERSONA</strong><br> 
                
                En caso de abonar la seña (que es el equivalente a 2 noches por persona), el SALDO se deberá abonar 15 días hábiles antes del día de ingreso.<br>
                
                El pago puede ser por depósito, transferencia bancaria o personalmente en la Sede Central.<br> 
                
                En caso de realizar la transacción por depósito o transferencia debe enviar el comprobante de pago al e-mail del Dpto de Turismo <a href="mailto:turismo@cirsubgn.org">turismo@cirsubgn.org</a> dentro de las 48 hs de confirmada su reserva.  Una vez abonada la totalidad de su estadía emitimos el Voucher de Alojamiento y Ud. lo recibirá en su email.<br>
                
                Este voucher lo presenta al ingresar en el Hotel  (no hace falta imprimirlo, lo puede mostrar a través del celular o dispositivo móvil)<br>
                
                <br>
                En caso de <strong>CANCELACIÓN</strong> de su reserva debe informar por medio fehaciente (al e-mail: <a href="mailto:turismo@cirsubgn.org">turismo@cirsubgn.org</a>) y se le retendrá el equivalente a dos noches por persona si la misma se efectúa  15 (quince) o más días  antes del ingreso, a partir de los 15 (quince)  días  anteriores al día de ingreso no habrá devolución. La reserva se considerará caduca, cuando el asociado no se haya presentado transcurridas 24 hs de la iniciación de la ocupación de las comodidades sin opción a reclamo alguno.<br>
                
                <br>
                Ante cualquier duda o consulta quedamos a tu disposición.<br>
                
                <br>
                Saludos cordiales.<br>
              </p>
            </div>
          </section>



          <section class="container">
          <!--   <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>CÓRDOBA <br>
                INVIERNO</strong>
            </h1>
            <div class="row">
              <img  src="/images/cordobapromo.jpeg"  style="width: 60%;margin: auto;">
              <p class="mt-5">
                En estas vacaciones de invierno te invitamos a visitar nuestra filial de la ciudad de
                Córdoba.<br><br>Conectate con la naturaleza, vení a la sierra y descubrí dos imponentes valles, como el
                Valle de Calamuchita y el Valle de Traslasierra. Dos lugares majestuosos de nuestra provincia que no
                podés dejar de conocer con tu familia.<br><br>Llamá y hacé tu reserva, te esperamos.<br><br></p> -->
             <!--  <p>Contacto: (0351) 4215189 / 4256205</p> -->
           <!--  </div> -->
          </section>
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>BENEFICIO RECÍEN CASADOS <br>
                Todo el año</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/reciencasados.jpg">
              <p class="mt-5">
                Incluye 10 noches de alojamiento en la filial seleccionada, con pensión completa (desayuno, almuerzo y
                cena) sin bebidas.<br><br></p>
              <p>Plazo de utilización: 1 año (a partir del enlace matrimonial).<br><br></p>
              <p>Documentación a presentar: acta de Matrimonio y DNI de ambos cónyuges.<br><br></p>
              <p>En caso de que la Filial seleccionada no brinde desayuno, almuerzo y/o cena, se realizarán los
                reintegros correspondientes presentando ticket/factura original y de acuerdo al valor del desayuno y/o
                menú del Hotel Tacuari.<br><br></p>
              <p>El trámite se realiza por e-mail: turismo@cirsubgn.org donde se deberá indicar la filial elegida, la
                fecha de ingreso y adjuntar la documentación con una antelación de 30 días al día de ingreso.<br><br>
              </p>
              <p>En caso de corresponder el reintegro y una vez usufructuado el beneficio se deberán enviar los tickets
                o facturas originales por correo postal : Tacuarí 566/68 Ciudad Autónoma de Buenos Aires (CP1071) Pcia.
                de Buenos Aires.<br><br></p>
              <p><strong>Aclaración</strong>: en caso de encontrarse facturadas las bebidas, las mismas se descontarán.
              </p>
            </div>
          </section>
          <section class="container">
            <h1 class="" style="color: darkgreen;font-size:4rem;text-align:center;margin-top: 2rem; "
              id="asesoramiento">
              <strong>BENEFICIO BODAS DE ORO <br>
                Todo el año</strong>
            </h1>
            <div class="row">
              <img width="600" height="400" src="/images/bodasdeoro.jpg">
              <p class="mt-5">
                Se otorga a aquellos asociados que cumplen 50 años de casados y que acrediten&nbsp;30 años de asociados
                a la Mutual como mínimo.</p>
              <p>Incluye 10 noches de alojamiento en la Filial seleccionada, con pensión completa (desayuno, almuerzo y
                cena) sin bebidas.<br><br></p>
              <p>Incluye Pasajes desde/hasta su ciudad de residencia. Se reintegran una vez utilizados.<br><br></p>
              <p>Plazo de utilización: 1 año (a partir del cumplimiento de los 50 años de casados).<br><br></p>
              <p>Documentación a presentar: Acta Matrimonio y DNI de ambos cónyuges.<br><br></p>
              <p>En caso de que la Filial seleccionada no brinde desayuno, almuerzo y/o cena, se realizarán los
                reintegros correspondientes presentando ticket/factura original y de acuerdo al valor del desayuno y/o
                menú del Hotel Tacuari.<br><br></p>
              <p>El trámite se realiza por e-mail: turismo@cirsubgn.org donde se deberá indicar la filial elegida, la
                fecha de ingreso y adjuntar la documentación con una antelación de 30 días al día de ingreso.<br><br>
              </p>
              <p>En caso de reintegro y una vez usufructuado el beneficio se deberán enviar los tickets originales por
                correo postal : Tacuarí 566/68 Ciudad Autónoma de Buenos Aires (CP1071) Pcia. de Buenos Aires.<br><br>
              </p>
              <p><strong>Aclaración</strong>: en caso de encontrarse facturadas las bebidas, las mismas se descontarán.
              </p>
            </div>
          </section>

        </div>
        <script type="text/javascript">
          (function () {
            var options = {
              whatsapp: "+54 9 11 76429930", // WhatsApp number
              call_to_action: "Necesitas ayuda?", // Call to action
              position: "right", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
          })();
        </script>
      </main>


      <!-- Footer -->
      <%- include('partials/footer.ejs')%>
        <!-- Footer -->

        <!-- SCRIPTS -->
        <%- include('partials/scripts.ejs')%>

  </body>

  </html>