<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
 
   <!-- MAIN -->
  <main>
   <!--  <section class="container">
      
    
       <div class="elementor-widget-container">
          <div class="row">
            <img width="600" height="400" src="/images/ayuda.jpg">
              <h3 class="mt-5">La Ayuda Económica de la Mutual del Círculo de Suboficiales de Gendarmería Nacional, es un servicio exclusivo al que acceden nuestros asociados a través de entidades bancarias.<br>
                <br>Solicitando el mismo, de lunes a viernes de 09 hs. a 16 hs. , podrán obtener hasta 450 mil pesos y en 36 cuotas.</h3>
              <h3 class="mt-3"style="color: darkgreen;font-size:3rem;text-align:center "><b>Requisitos para solicitar este servicio:</b></h3>
              <h4 class=""style="color: darkgreen;font-size:2rem;">
                <li>Estar asociados a la Mutual.</li>
                <li>Presentar recibo de haberes.</li>
                <li>Certificación de recibo de haberes a nombre de Banco VOII.</li>
                <li>DNI.</li>
                <li>Servicio.</li>
                <li>CBU.<br>&nbsp;</li>
              </h4>
                <p><b>Contactos:</b></p>
                <p><u>Mail</u>: ayuda.economica@cirsubgn.org<br><u>Te</u>: 113-242-3843 // 112-189-7557&nbsp;&nbsp;</p>
          </div>
        </div>
    </section> -->

    <!-- <h1 class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center " id="ayuda"> -->
      <h4 class="aux-modern-heading-secondary mb-4" style="color: darkgreen;font-size:3rem;text-align:center ">BIENESTAR SOCIAL</h4>

      <section class="padre3">
        <div class="container col-md-8 row text-center" style="margin:0 auto; padding-bottom: 3rem;">
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__content">
                <a href="/asesoramientoContable" class="">
                  <img src="/images/financiero.jpeg" style="margin-top:1px;" class="card-img-top" alt="...">
                  </a> 
                  <h4 class="card-text"><strong>Asesoramiento Contable</strong></h4>
                </div>
              </article>
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__image">
            </div>
            <div class="card__content">
                <a href="/asesoramientoJuridico" class="">
                <img src="/images/asesoramiento-juridico.jpeg" class="card-img-top" alt="..."></a>
                <h4><strong>Asesoramiento Juridico</strong></h4>
              </div>
            </article>
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__image">
            </div>
            <div class="card__content">
              <a href="/bodasOro" class=""
                  style="font-size:smaller; width: 75%; margin:auto;">
                  <img src="/images/bodas.jpeg"  class="card-img-top" style="width: 220px;height: 130px;" alt="...">
                  </a> 
              <h4><strong>Beneficios Bodas de Oro</strong></h4>
              
            </div>
          </article>
       </div>
      </section>
      <section class="padre4">
        <div class="container col-md-8 row text-center" style="margin:0 auto; padding-bottom: 3rem; ">
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__content">
                <a href="/casamientos" class="">
                  <img src="/images/casamiento.jpeg"   class="card-img-top" style="width: 220px;height: 130px;" alt="...">
                  </a> 
                  <h4><strong>Subsidio por Casamiento</strong></h4>
                </div>
              </article>
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__image">
            </div>
            <div class="card__content">
                <a href="/subsidioHijos" class="">
                <img src="/images/hijo.jpeg" class="card-img-top" style="width: 220px;height: 130px;" alt="..."></a>
                <h4><strong>Subsidio por Hijo</strong></h4>
              </div>
            </article>
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__image">
            </div>
            <div class="card__content">
              <a href="/subsidioSepelio" class=""
                  style="font-size:smaller; width: 75%; margin:auto;">
                  <img src="/images/sepelio.jpeg"  class="card-img-top" style="width: 220px;height: 130px;" alt="...">
                  </a> 
              <h4><strong>Subsidio por Sepelio</strong></h4>
              
            </div>
          </article>
       </div>
      </section>
      <section class="padre3">
        <div class="container col-md-8 row text-center" style="margin:0 auto; padding-bottom: 3rem; ">
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__content">
              <a href="/tours" class="">
                <img src="/images/contactos/turismo.jpg" style="width: 100;;" class="card-img-top" alt="...">
              </a>
              <h4 class="card-text"><strong>Turismo</strong></h4>
            </div>
          </article>
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__image">
            </div>
            <div class="card__content">
              <a href="/farmacias" class="">
                <img src="/images/farma.jpg" class="card-img-top" alt="..."></a>
              <h4><strong>Farmacia</strong></h4>
            </div>
          </article>
          <article class="card mt-5 justify-content-center" style="border-radius: 10px; margin: 0 auto;">
            <div class="card__image">
            </div>
            <div class="card__content">
              <a href="/evacuacion" class="">
                <img src="/images/evacuacion2.jpg" class="card-img-top" style="width: 220px;height: 130px;"
                  alt="..."></a>
              <h4><strong>Evacuación</strong></h4>
            </div>
          </article>
        </div>
      </section>

    




  


    

 



 <!--   WhatsApp -->
<!-- <script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+54 9 11 76429930", // WhatsApp number
          call_to_action: "Necesitas ayuda?", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script> -->

  </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs')%>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <%- include('partials/scripts.ejs')%>
    
  </body>
</html>
