<%- include('partials/head.ejs')%>
  <body>
      <!--    HEADER -->

      <%- include('partials/header.ejs')%>
 
   <!-- MAIN -->
  <main>
    <section class="container">
      <h1 class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center " id="ayuda"><strong>AYUDA ECONÓMICA</strong></h1>
    
       <div class="elementor-widget-container">
          <div class="row">
            <img width="600" height="400" src="/images/ayuda.jpg">
              <h3 class="mt-5">La Ayuda Económica de la Mutual del Círculo de Suboficiales de Gendarmería Nacional, es un servicio exclusivo al que acceden nuestros asociados a través de entidades bancarias.<br>
                <br>Solicitando el mismo, de lunes a viernes de 09 hs. a 16 hs. , podrán obtener hasta 450 mil pesos y en 36 cuotas.</h3>
              <h3 class="mt-3"style="color: darkgreen;font-size:3rem;text-align:center "><b>Requisitos para solicitar este servicio:</b></h3>
              <h4 class=""style="color: darkgreen;font-size:2rem;">
                <li>Estar asociados a la Mutual.</li>
                <li>Presentar recibo de haberes.</li>
                <li>Certificación de recibo de haberes a nombre de Banco VOII.</li>
                <li>DNI.</li>
                <li>Servicio.</li>
                <li>CBU.<br>&nbsp;</li>
              </h4>
                <p><b>Contactos:</b></p>
                <p><u>Mail</u>: ayuda.economica@cirsubgn.org<br><u>Te</u>: 113-242-3843 // 112-189-7557&nbsp;&nbsp;</p>
          </div>
        </div>
    </section>

    <section class="container">
      <h1 class=""style="color: darkgreen;font-size:4rem;text-align:center " id="asesoramiento"><strong>ASESORAMIENTO CONTABLE</strong></h1>
        <div class="row">
           <img width="600" height="400" src="/images/financiero.jpeg">														
            <h3 class="mt-5">La <strong>Mutual</strong> tiene el agrado de informarles sobre este nuevo servicio gratuito que le posibilitará al socio ganar, ahorrar e invertir dinero.</h3>
             <h3 class="mt-3"style="color: darkgreen;font-size:4rem;"><strong>¿Cómo funciona?</strong></h3><br><br>
               <h3>Es muy simple. Cuando el socio solicite este beneficio, se le asignará un contador que le realizará un orden en sus gastos de todos los meses. Con este seguimiento, el socio podrá ahorrar gran parte del dinero que hoy destina al pago de impuestos y servicios. A su vez, será asesorado en todas las dudas y consultas que le surjan para que no se vea afectado su salario mes a mes. Por este trabajo no se cobran honorarios de ningún tipo. Comunicate con nuestro asesor y empezá a hacer rendir su sueldo.</h3>
               <em>CONTACTO:&nbsp; Carlos Piccardo // Mail:&nbsp;carlos@segaconsultores.com&nbsp; // Teléfono: (11) 2192-5427</em>	
				</div>
    </section>

    <section class="container">
      <h1 class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center " id="juridico"><strong>ASESORAMIENTO JURIDICO</strong></h1>
       <div class="row">
          <img width="600" height="400" src="/images/asesoramiento-juridico.jpeg">													
           <h3>Todos los socios del Círculo de Suboficiales de Gendarmería Nacional podrán contar con el servicio de consultoría jurídica, las 24 hs. y de forma gratuita.</p><p>El servicio cubre consultas de carácter profesional y de salud: esto significa que los socios podrán ser asesorados sobre cuestiones ligadas a su labor, y ante eventualidades que le puedan surgir producto de la pandemia por COVID-19.</h3>
            <p>CONTACTOS: Mail: legales@cirsubgn.org // Tel: (11) 5589-7211 / (11) 3838-4701 /</p>
            <p>*Esta mutual exime a sus asociados del pago de honorarios en casos de ART.</p>
       </div>
    </section>

    <section class="container">
      <h1 class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center " id="bodas"><strong>BENEFICIO POR BODAS DE ORO</strong></h1> 
        <div class="row">
          <img width="600" height="400" src="/images/bodas.jpeg"><br>
          <h3 class="mt-5">Cuando ambos cónyuges sean asociados a la Mutual Círculo de Suboficiales de Gendarmería Nacional, se liquidará el beneficio a cada uno de los contrayentes, y se otorgarán diez (10) días de alojamiento en cualquier lugar del país, teniendo en cuenta lo establecido en el Reglamento de Subsidios por Casamiento y Bodas de Oro. -Art. 3-
           <p><strong>Percepción de cualquiera de los beneficios:</strong> el asociado deberá encontrarse al día con el pago de la cuota social en el momento de acaecido el acontecimiento, no estar cumpliendo el período de carencia al que se refiere el artículo 12 del presente. –Art.7-</p>
           <p>El beneficio establecido en el presente reglamento, debe ser requerido por el socio, mediante la presentación de fotocopia autenticada de la documentación avalatoria extendida por Registro Civil o Juzgado, según corresponda y recibo de haberes. En el caso de adopción se agregará a la sentencia judicial el certificado de nacimiento del menor adoptado. –Art.8-</p>
           <p><strong>Plazo de presentación:</strong>el beneficio establecido en el presente reglamento debe ser requerido por el socio antes de trasncurrido un (1) año, a contar desde el momento en que ocurrió el acontecimiento, vencido ese plazo se perderá todo derecho a tal fin, se tomará como válida la fecha de recepción en Mesa de Entrada o del matasellos del correo cuando se envíe por correo electrónico.&nbsp; -Art.10-</p>
           <p>El Círculo podrá aceptar como válidas las presentaciones fuera de término, cuando se demuestre fehacientemente documentado que la demora responde a causales no imputables al socio. -Art.11-</p>
           <p><strong>Carencia</strong>: Para acceder al beneficio, el asociado deberá tener un antigüedad mínima como tal, de tres (3) meses al momento de ocurrido el acontecimiento. Cuando se trate de re afiliación, la carencia se extenderá a seis (6) meses. -Art.12-</p>
           <p>El derecho a la percepción del beneficio prescribirá al año de efectuado el requerimiento por parte del socio, si la falta de su liquidación respondiera a causas no imputables a la Mutual. -Art.13-</p>
           <p>La erogación que demande el beneficio establecido en el presente Reglamento será atendido con los recursos provenientes de la cuota social. –Art. 14-</p>
           <p>Los casos no previstos en el presente Reglamento serán resueltos por el Órgano Directivo y sus decisiones podrán ser apeladas por el socio antes de trascurridos los noventa (90) días de su notificación. -Art.15-</p>
           <p>CONTACTO</u>: bienestar@cirsubgn.org</p>
          </h3>
      	</div>
     </section>


    <section class="container">
      <h1  class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center " id="casamiento"><strong>SUBSIDIO POR CASAMIENTO</strong></h1>
        <div class="row">
          <img width="600" height="400" src="/images/casamiento.jpeg"><br>
          <p>Si ambos cónyuges son&nbsp;asociados de la Mutual Círculo de Suboficiales de Gendarmería Nacional, se liquidará el beneficio a cada uno de los contrayentes, teniendo en cuenta lo&nbsp; establecido en el Reglamento de Subsidios por Casamiento y Bodas de Oro.</p>
          <p>A cada socio que perciba el subsidio se le otorgará&nbsp;diez (10) días de alojamiento en cualquier lugar del país. -Art. 3-</p>
          <p>En caso&nbsp;de que ambos cónyuges estén afiliados a la Mutual, el beneficio será solo por diez (10) días.&nbsp;</p>
          <p><strong>Percepción de cualquiera de los beneficios:</strong>&nbsp;el asociado deberá encontrarse al día con el pago de la cuota social en el momento de acaecido el acontecimiento, no estar cumpliendo el período de carencia al que se refiere el artículo 12 del presente. –Art.7-</p>
          <p>El beneficio establecido en el presente reglamento, debe ser requerido por el socio, mediante la presentación de fotocopia autenticada de la documentación avalatoria extendida por Registro Civil o Juzgado, según corresponda y recibo de haberes. En el caso de adopción se agregará a la sentencia judicial el certificado de nacimiento del menor adoptado. –Art.8-</p>
          <p><strong>Plazo de presentación:&nbsp;</strong>el beneficio establecido en el presente reglamento debe ser requerido por el socio antes de transcurrido un (1) año, a contar desde el momento en que ocurrió el acontecimiento, vencido ese plazo se perderá todo derecho a tal fin, se tomará como válida la fecha de recepción en Mesa de Entrada o del matasellos del correo cuando se envíe por correo electrónico.&nbsp; -Art.10-</p>
          <p>El Círculo podrá aceptar como válidas las presentaciones fuera de término, cuando se demuestre fehacientemente documentado que la demora responde a causales no imputables al socio. -Art.11-</p>
          <p><strong>Carencia</strong>: Para acceder al beneficio, el asociado deberá tener un antigüedad mínima como tal, de tres (3) meses al momento de ocurrido el acontecimiento. Cuando se trate de re afiliación, la carencia se extenderá a seis (6) meses. -Art.12-</p>
          <p>El derecho a la percepción del beneficio prescribirá al año de efectuado el requerimiento por parte del socio, si la falta de su liquidación respondiera a causas no imputables a la Mutual. -Art.13-</p>
          <p>La erogación que demande el beneficio establecido en el presente Reglamento será atendido con los recursos provenientes de la cuita social. –Art. 14-</p>
          <p>Los casos no previstos en el presente Reglamento serán resueltos por el Órgano Directivo y sus decisiones podrán ser apeladas por el socio antes de trascurridos los noventa (90) días de su notificación. -Art.15</p>
          <p>CONTACTO: bienestar@cirsubgn.org></p>	
      	</div>
    </section>


    
    <section class="container">
      <h1  class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center "id="hijo"><strong>SUBSIDIO POR HIJO</strong></h1>
        <div class="row">
          <img width="400" height="400" src="/images/hijo.jpeg"><br>
          <h2 class="mt-5"><strong>Nacimiento</strong></h2>: En los casos en que al momento del alumbramiento ambos padres fueran socios titulares de la Mutual, el beneficio se liquidará a ambos.</p>
          <p>Reputase como nacimientos, aquellos alumbramientos que hayan sido inscriptos en el Registro Civil o que estuvieren comprendidos en el Artículo 73 del Código Civil de la Nación. Cuando se produzcan alumbramientos múltiples, se otorgará el beneficio por cada uno de ellos. -Art.4-</p>
          <h2><strong>Reconocimiento de hijos:</strong></h2><p>Se reconocieran como tales, aquellos casos que se encuentren inscriptos en el Registro Civil. -Art.5-</p>
          <h2><strong>Adopción:</strong></h2><p>Se reconocerán únicamente como válidas las adopciones simples o plenas que se encuentren otorgadas por sentencia judicial firme. La guarda o tenencia legal a cargo no dará derecho al beneficio. –Art.6-<br>———————————————————————————————————————————————————</p>
          <h2><strong>Percepción de cualquiera de los beneficios:</strong></h2><p>el asociado deberá encontrarse al día con el pago de la cuota social en el momento de acaecido el acontecimiento, no estar cumpliendo el período de carencia al que se refiere el artículo 12 del presente. –Art.7-</p>
          <p>El beneficio establecido en el presente reglamento, debe ser requerido por el socio, mediante la presentación de fotocopia autenticada de la documentación avalatoria extendida por Registro Civil o Juzgado, según corresponda y recibo de haberes. En el caso de adopción se agregará a la sentencia judicial el certificado de nacimiento del menor adoptado. –Art.8-</p>
          <h2><strong>Plazo de presentación:</strong></h2><p> beneficio establecido en el presente reglamento debe ser requerido por el socio antes de trasncurrido un (1) año, a contar desde el momento en que ocurrió el acontecimiento, vencido ese plazo se perderá todo derecho a tal fin, se tomará como válida la fecha de recepción en Mesa de Entrada o del matasellos del correo cuando se envíe por correo electrónico.&nbsp; -Art.10-</p>
          <p>El Círculo podrá aceptar como válidas las presentaciones fuera de término, cuando se demuestre fehacientemente documentado que la demora responde a causales no imputables al socio. -Art.11-</p>
          <h2><strong>Carencia:</strong></h2><p>Para acceder al beneficio, el asociado deberá tener un antigüedad mínima como tal, de tres (3) meses al momento de ocurrido el acontecimiento. Cuando se trate de re afiliación, la carencia se extenderá a seis (6) meses. -Art.12-</p><p>El derecho a la percepción del beneficio prescribirá al año de efectuado el requerimiento por parte del socio, si la falta de su liquidación respondiera a causas no imputables a la Mutual. -Art.13-</p>
          <p>La erogación que demande el beneficio establecido en el presente Reglamento será atendido con los recursos provenientes de la cuita social. –Art. 14-</p>
          <p>Los casos no previstos en el presente Reglamento serán resueltos por el Órgano Directivo y sus decisiones podrán ser apeladas por el socio antes de trascurridos los noventa (90) días de su notificación. -Art.15-</p>
          <p>CONTACTO: bienestar@cirsubgn.org></p>
      	</div>
    </section>
 
<section class="container">
  <h1  class="mt-5"style="color: darkgreen;font-size:4rem;text-align:center "id="sepelio">SUBSIDIO POR SEPELIO</h1>
    <div class="row">
        <img width="600" height="400" src="/images/sepelio.jpeg">														
         <h2 class="mt-5">ANTE UN FALLECIMIENTO COMUNÍQUESE LAS 24 HORAS<br> AL TELÉFONO 0800-888-7656</h2>
         <h2><strong>Servicio de sepelio y un subsidio por fallecimiento del socio titular o familiar</strong>.</h2>
         <p>La cobertura comprende al titular y grupo familiar integrado por la esposa (en caso de concubinato se tendrá en cuenta lo contemplado en la resolución Nº 215/75 I.N.O.S.), las hijas solteras hasta los 21 años y los hijos solteros hasta los 18; estos últimos que no tengan hijos a cargo. Las hijos o hijos incapacitados, sin límite de edad. Los padres del socio soltero, (sin hijos a cargo) se los considera como grupo familiar.</p>
         <p>En caso de no hacer uso del servicio, el socio titular y o deudos, podrán solicitar el reintegro por gastos, (se tendrán en cuenta los montos pre-establecidos por la mutual), presentando la documentación que correspondiere.</p>
         <p>CONTACTO : bienestar@cirsubgn.org / 113-270-5301</p>					
     </div>

</section>
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+54 9 11 3866-5787", // WhatsApp number
          call_to_action: "Necesitas ayuda?", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>

  </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs')%>
    <!-- Footer -->

    <!-- SCRIPTS -->
    <%- include('partials/scripts.ejs')%>
    
  </body>
</html>
