.about .container .card {
    display: flex;
    flex-direction: row;
    position: relative;
}

.about .container .card .card__image img{
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    position: relative;
    left: -30%;
}

.about .container .card .card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.about .container2 {
    display: flex;
    align-self: center;
}

@media (max-width: 576px){
    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .container{
        width: 100%;
        padding: 1rem;
        margin: 1rem;

    }
    .junta{
        justify-content: center;
        align-items: center;
    }
} 