/*  .grilla {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px;
  }  */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto  ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin-bottom: 6px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
  }

  .grid-container > div p{
    font-size: 15px;
  }