/* GLOBALES PARA EL INDEX */
h1,
h2,
h2 {
  text-align: center;
  color: black;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
}

p {
  font-size: 1.8rem;
  font-family: var(--fuenteSecundaria);
  
}
.card-pdf{
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 5rem;
  
}



.padre2 .container{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 80%;
}

.padre2 .container .card{
   width: 100%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   
}

.padre3 .container{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 80%;
}

.padre3 .container .card{
   width: 100%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   
}

.padre4 .container{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 80%;
}

.padre4 .container .card{
   width: 100%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   
}

.entrada{
  transition: transform 0.3s ease-in-out;
}

.entrada.clicked{
  transform: scale(1.5); /* Escala al 150% */
}


@media (max-width: 576px){

.card .embed {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  width: 100%;
  
}
}



.quejas{
  position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0.5rem; /* Establecemos la barra en la izquierda */
	top: 750px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.quejas a {
  display: inline-block;
		color:#fff;
		background:#10a346;
		padding: 10px 15px;
    font-size: 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
.quejas a:hover{
  background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}


/* CARROUSEL */

.carrousel {
  display: none;
 /*  border-style: double; */
  width: 66%;
  position: relative;
  margin: auto;
}

.noticias{
  display: block;
  margin-top: 3rem;
}



@media (min-width: 768px) {
  .carrousel {
    width: 80%;
    display: block;
    position: relative;
    
  }
  .noticias{
    display: block;
    text-align: center;
  }
 
  .card-asociate {
    justify-content: center;
  }

  .carousel-item img {
    width: 100%;
    display:flex;
    
  }
 
 
}

@media (min-width: 576px){
  .carrousel {
    width: 100;
    display: block;
    position: relative;
   
  }

  .carousel-item img {
    width: 100%;
    display:flex;
    
  }
}

/*   CARROUSELL SLICKY */
.carrousel_slicky {
    margin-top: 5rem;
  }
  .carousel-item p{
    display: flex;
    position: absolute;
    border-radius: 0.6rem;
    background-color:rgba(255, 255, 255, 0.705);
    bottom: 10%;
    left: 38%;
    color:black;
    margin: auto;
  }

  .carousel-item img {
    width: 100%;
    display:flex;
    
  }
  
  .carousel-indicators {
    max-width: 90rem;
    margin:auto;
  }
  
  .informacion {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
  }
 
 
  
  /* flechas */
  
  .arrow {
    display: none;
    justify-content: flex-end;
    margin-right: 18rem;
  }
  
  .arrow i {
    border: 1px solid black;
    margin: 1rem;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
  }
  .arrow i:hover{
    cursor: pointer;
    background-color: var(--color-naranja);
    color: white;
  }
  
 
/*   .padre .container .card{
    width:28%;
    padding-bottom: 2rem;
    
} */
.padre2 .container .card{
  width:180px;
  
}
.padre3 .container .card{
  width:180px;
}
.padre4 .container .card{
  width:180px;
}

/* .padre .container .card h3{
    color: #32A455
}
.padre .container .card h3:hover{
    color:#006400
}
.padre .container .card a:hover{
    color:#32A455
}
   */

.header-nav-links{
  justify-content: space-evenly;
}
