/* GLOBALES PARA EL INDEX */
h1,
h2,
h2 {
  text-align: center;
  color: black;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
}

p {
  font-size: 1.8rem;
  font-family: var(--fuenteSecundaria);
  
}
.card-pdf{
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 5rem;
  
}

@media (max-width: 576px){

.card .embed {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  width: 100%;
  
}
}


/* CARROUSEL */

.carrousel {
  display: none;
}

.noticias{
  display: block;
}



@media (min-width: 768px) {
  .carrousel {
    display: block;
  }
  .noticias{
    display: block;
    text-align: center;
  }
 
  .card-asociate {
    justify-content: center;
  }
 
 
}
/*   CARROUSELL SLICKY */
.carrousel_slicky {
    margin-top: 5rem;
  }
  .carousel-item p{
    display: flex;
    position: absolute;
    border-radius: 0.6rem;
    background-color:rgba(255, 255, 255, 0.705);
    bottom: 10%;
    left: 38%;
    color:black;
    margin: auto;
  }

  .carousel-item img {
    height: 40rem;
    display:flex;
    
  }
  
  .carousel-indicators {
    max-width: 90rem;
    margin:auto;
  }
  
  .informacion {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
  }
 
 
  
  /* flechas */
  
  .arrow {
    display: none;
    justify-content: flex-end;
    margin-right: 18rem;
  }
  
  .arrow i {
    border: 1px solid black;
    margin: 1rem;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
  }
  .arrow i:hover{
    cursor: pointer;
    background-color: var(--color-naranja);
    color: white;
  }
  



  