.turismo2 .card{
  width: 45%;
}

@media (max-width: 576px){

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }

      .container{
          width: 90%;
          padding: 2rem;
          margin: 2rem;

      }
      .turismo2 .card:hover{
        transform: scale(2.5);
      }
    }